<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	EwB9AWAYAACOOAAAYBgAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4AB
	AAWAAAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWA
	AAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAAD
	gAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEA
	CIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAA
	AAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEABAAHgAAA
	BIABAAOAAAAEgAEACIAAAASAAQADgAAABIABAAiAAAAEgAEAA4AAAASAAQAIgAAABIAB
	AAOAAAAEgAEACIAAAASAAQADgAAABIABAAiAAAAEgAEAA4AAAASAAQAIgAAABIABAAOA
	AAAEgAEACIAAAASAAQADgAAABIABAAiAAAAEgAEAA4AAAASAAQAIgAAABIABAAOAAAAE
	gAEACIAAAASAAQADgAAABIABAAiAAAAEgAEAA4AAAASAAQAIgAAABIABAAOAAAAEgAEA
	CIAAAASAAQADgAAABIABAAiABAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAA
	AAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOA
	AQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAF
	gAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAFgAAA
	A4ABAAiAAAADgAEABYAAAAOAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoAB
	AAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiA
	AAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiAAAAC
	gAEAAgAFgAAAAgACgAEACIAAAAKAAQACAAWAAAACAAKAAQAIgAAAAoABAAIABYAAAAIA
	AoABAAiAAAACgAEAAgAFgAAAAgACgAEACIAAAAKAAQACAAWAAAACAAKAAQAIgAAAAoAB
	AAIABYAAAAIAAoABAAiAAAACgAEAAgAFgAAAAgACgAEACIAAAAKAAQACAAWAAAACAAKA
	AQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAI
	gAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiAAAACgAEABoAAAAOAAQAIgAAA
	AoABAAWAAAAEgAEACIAAAAKAAQAEgAAABYABAAQAB4AAAAKAAQADgAAABoABAAiAAAAC
	gAEAA4AAAAaAAQAIgAAAAoABAAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEA
	A4AAAAaAAQAIgAAAAoABAAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AA
	AAaAAQAIgAAAAoABAAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AAAAaA
	AQAIgAAAAoABAAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AAAAaAAQAI
	gAAAAoABAAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AAAAaAAQAIgAAA
	AoABAAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AAAAaAAQAIgAAAAoAB
	AAOAAAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AAAAaAAQAIgAAAAoABAAOA
	AAAGgAEACIAAAAKAAQADgAAABoABAAiAAAACgAEAA4AAAAaAAQAIgAAAAoABAAOAAAAG
	gAEABIAEAASAAAACgAEABIAAAAWAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAGgAAA
	A4ABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAOAAAAKAAOAAAACgAEACIAAAAKAAQAE
	gAAACgACgAAAAoABAAiAAAACgAEABYAAAAoAAAACgAEACIAAAAKAAQAGgAAACgACgAEA
	CIAAAAKAAQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAA
	AAKAAQAHgAAAAoABAAiAAAADgAEABoAAAAKAAQAIgAAABIABAAWAAAACgAEACIAAAAWA
	AQAEgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAEAAeAAAAGgAEAA4AAAAKAAQAIgAAABoAB
	AAOAAAACgAEACIAAAAaAAQADgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOA
	AAACgAEACIAAAAaAAQADgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAAC
	gAEACIAAAAaAAQADgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEA
	CIAAAAaAAQADgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEACIAA
	AAaAAQADgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEACIAAAAaA
	AQADgAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEACIAAAAaAAQAD
	gAAAAoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEACIAAAAaAAQADgAAA
	AoABAAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEACIAAAAaAAQADgAAAAoAB
	AAiAAAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEACIAAAAaAAQADgAAAAoABAAiA
	AAAGgAEAA4AAAAKAAQAIgAAABoABAAOAAAACgAEABYAEAAOAAAAFgAEABIAAAAKAAQAI
	gAAABIABAAWAAAACgAEACIAAAAOAAQAGgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAA
	AoABAAOAAAALAAOAAAACgAEACIAAAAKAAQACgAAACwAEgAAAAoABAAiAAAACgAEAAAAL
	AAWAAAACgAEACIAAAAKAAQALAAaAAAACgAEACIAAAAKAAQAHgAAAAoABAAQAB4AAAAKA
	AQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAH
	gAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAA
	AoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoAB
	AAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAWAAAACAAAAAoABAAiAAAACgAEAB4AAAAKA
	AQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAAAAIABYAAAAKAAQAIgAAAAoABAAeAAAAC
	gAEACIAAAAKAAQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEA
	CIAAAAKAAQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAQAAoABAAaAAAADgAEACIAA
	AAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAIgAAAAoABAAaAAAADgAEACIAAAAKA
	AQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAEgAQABIAAAAKAAQAHgAAAAoABAAiAAAAC
	gAEAB4AAAAKAAQAIgAAAA4ABAAaAAAACgAEACIAAAAOAAQAGgAAAAoABAAiAAAAEgAEA
	BYAAAAKAAQAIgAAABIABAAWAAAACgAEACIAAAASAAQAFgAAAAoABAAiAAAAFgAEABIAA
	AAKAAQAIgAAABYABAASAAAACgAEACIAAAAWAAQAEgAAAAoABAAiAAAAFgAEABIAAAAKA
	AQAIgAAABIABAAWAAAACgAEACIAAAASAAQAFgAAAAoABAAiAAAAEgAEABYAAAAKAAQAI
	gAAAA4ABAAaAAAACgAEACIAAAAOAAQAGgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAA
	AoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiAAAACgAEAAAALAAWAAAACgAEACIAA
	AAKAAQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAaAAAADgAEACIAAAAKA
	AQAGgAAAA4ABAAiAAAACgAEABYAAAASAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAE
	gAAABYABAAiAAAACgAEABIAAAAWAAQAIgAAAAoABAASAAAAFgAEACIAAAAKAAQAEgAAA
	BYABAAiAAAACgAEABIAAAAWAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIAB
	AAiAAAACgAEABoAAAAOAAQAIgAAAAoABAAaAAAADgAEACIAAAAKAAQAHgAAAAoABAAiA
	AAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAFgAAACgAAAAKAAQAI
	gAAAAoABAAeAAAACgAEABIAEAASAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEA
	CIAAAAOAAQAGgAAAAoABAAiAAAADgAEABoAAAAKAAQAIgAAABIABAAWAAAACgAEACIAA
	AASAAQAFgAAAAoABAAiAAAAEgAEABYAAAAKAAQAIgAAABIABAAWAAAACgAEACIAAAAOA
	AQAGgAAAAoABAAiAAAADgAEABoAAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAH
	gAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAA
	AoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoAB
	AAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiA
	AAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiAAAAC
	gAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEAA4AEAAWAAAADgAEABYAAAAOAAQAIgAAA
	A4ABAAWAAAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4AB
	AAWAAAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWA
	AAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAAD
	gAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEA
	CIAAAASAAQAEgAAAA4ABAAiAAAAEgAEABIAAAAOAAQAIgAAABIABAASAAAADgAEACIAA
	AASAAQAEgAAAA4ABAAiAAAAEgAEABIAAAAOAAQAIgAAABIABAASAAAADgAEACIAAAASA
	AQAEgAAAA4ABAAiAAAAEgAEABIAAAAOAAQAIgAAABIABAASAAAADgAEACIAAAASAAQAF
	gAAAAoABAAiAAAAEgAEABYAAAAKAAQAIgAAABIABAAWAAAACgAEACIAAAASAAQAFgAAA
	AoABAAiAAAAEgAEABYAAAAKAAQAIgAAABIABAAWAAAACgAEACIAAAASAAQAEgAAAAgAC
	gAEACIAAAASAAQAFgAAAAoABAAiAAAAEgAEABYAAAAKAAQAIgAAABIABAAWAAAACgAEA
	CIAAAASAAQAFgAAAAoABAAiAAAAEgAEABYAAAAKAAQAIgAAABIABAAWAAAACgAEACIAA
	AASAAQAFgAAAAoABAAiAAAAEgAEABYAAAAKAAQAIgAAAA4ABAAaAAAACgAEACIAAAAOA
	AQAGgAAAAoABAAiAAAADgAEABoAAAAKAAQAIgAAAA4ABAAaAAAACgAEACIAAAAOAAQAG
	gAAAAoABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAFgAAA
	A4ABAAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAFgAAAA4AB
	AAiAAAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAFgAAAA4ABAAiA
	AAADgAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAAD
	gAEABYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAOAAQAFgAAAA4ABAAiAAAADgAEA
	BYAAAAOAAQAIgAAAA4ABAAWAAAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAA
	AAOAAQAIgAAAAoABAAaAAAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABYAAAASA
	AQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIABAAiAAAACgAEABYAAAASAAQAI
	gAAAAoABAAIABIAAAASAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIABAAiA
	AAACgAEABYAAAASAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIABAAiAAAAC
	gAEABYAAAASAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIABAAiAAAACgAEA
	BYAAAASAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIABAAiAAAACgAEABYAA
	AASAAQAIgAAAAoABAAWAAAAEgAEACIAAAAKAAQAFgAAABIABAAiAAAACgAEABoAAAAOA
	AQAIgAAAAoABAAaAAAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAI
	gAAAAoABAAaAAAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAIgAAA
	AoABAAaAAAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAIgAAAAoAB
	AAaAAAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAIgAAAAoABAAaA
	AAADgAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAIgAAAAoABAAaAAAAD
	gAEACIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQAIgAAAAoABAAaAAAADgAEA
	CIAAAAKAAQAGgAAAA4ABAAiAAAACgAEABoAAAAOAAQADgAQABYAAAAKAAQAHgAAAAoAB
	AAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAOAAAACAAOAAAACgAEACIAAAAKAAQAHgAAA
	AoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoAB
	AAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiA
	AAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAAAoABAAiAAAAC
	gAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQACAAWAAAACAAKAAQAIgAAA
	AoABAAIABYAAAAIAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAA
	AAKAAQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKA
	AQAHgAAAAoABAAiAAAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAH
	gAAAAoABAAiABAACgAEAB4AAAAKAAQAIgAAAAoABAAeAAAACgAEACIAAAAKAAQAHgAAA
	AoABAAiAAAACgAEAB4AAAAKAAQAEAAeAAAA=
	</data>
	<key>bg1</key>
	<data>
	EwB9AQwAAACOOAAADAAAAEecAAA=
	</data>
	<key>bg2</key>
	<data>
	EwB9AQwAAACOOAAADAAAAEecAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
