<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	LwAnAMwFAABSDgAAzAUAAAOAIAALgAAABIAgAAiAAAAgAAOAMAAgAAqAAAAgAAKAKAAG
	gCAAC4AwAASAIAAIgAAAIAADgDAAIAAKgAAAIAACgCgABoAgAAuAMAAEgCAACIAAACAA
	A4AwACAACoAAACAAAoAoAAOAIAACgAAAHAACgAAABIAgAAKAAAAcAASAAAACgCAAD4AA
	AAmAIAACgCgAIAAEgAAAHAACgAAABIAgAAKAAAAcAASAAAACgCAAD4AAACAAA4AoAAWA
	IAACgCgAIAAHgAAABIAgAAKAAAAcAASAAAACgCAAD4AAACAAA4AoACAAA4AAACAAAoAo
	ACAABIAAABwAAAACgCAACoAAAAKAIAAPgAAAIAADgCgAIAADgAAAIAACgCgAIAAEgAAA
	HAAAAAKAIAAFgAAAHAAEgAAAAoAgAASAMAAgAAqAAAAgAAOAKAAgAAOAAAAgAAKAKAAg
	AASAAAAcAAAAAoAoAAWAAAAcAASAAAACgCAAD4AwACAAA4AoACAAA4AAACAAAoAoACAA
	AoAAAASAIAACgCgABYAAABwABIAAAAKAIAAPgDAAIAADgCgAIAADgAAAIAACgCgAIAAC
	gAAABoAgAAWAAAAcAAqAAAAFgCAAA4AAAASAIAADgCgAIAADgAAABIAgAAKAAAAGgCAA
	A4AAAASAIAAJgAAABYAgAAOAAAAIgCAAA4AAAASAIAACgAAABIAgAAWAAAAEgCAACYAA
	AAOAIAACgCgAA4AAAAeAIAAKgAAABIAgAAWAAAAEgCAADIAAAAKAKAAdgAAAAoAgAAWA
	MAACgCAAB4AAAAKAKAAdgAAAAoAgAAWAMAACgCAAB4AAAAKAKAAUgAAABoAcAAAAAoAc
	AAKAKAAFgAAAAoAoAAeAAAACgCgACYAAAAKAIAAGgDAAAoAgABwACYAAAAKAKAAFgAAA
	AoAoAAeAAAACgCgACYAAAAKAIAAGgDAAAoAgAAqAAAACgCgABYAAAAKAKAAHgAAAAoAo
	AAmAAAACgCAABoAwAAKAIAAKgAAAAoAoAAWAAAACgCgAAoAcAAAABIAcAAKAKAACgBwA
	AAAGgBwAAoAgAAaAMAACgCAACoAAAAKAKAAFgAAAAoAoAAeAAAACgCgACYAAAAKAIAAG
	gDAAAoAgAAqAAAACgCgABYAAAAKAKAAHgAAAAoAoAA+AAAAFgCAACYAAAAKAKAAFgAAA
	AoAoAAeAAAACgCgAD4AAAAWAIAAJgAAAAoAoAAWAAAACgCgAB4AAAAKAKAAPgAAABYAg
	AAOAAAAIgCAABYAAAAKAKAADgCAABIAAAAKAKAAEgAAABYAgAAaAAAAFgCAAA4AAAAiA
	IAAFgAAAAoAoAAOAIAAEgAAAAoAoAASAAAAFgCAABoAAAAWAIAADgAAAAoAoAAuAAAAD
	gCgABoAAAAKAKAAEgAAAAoAgAAyAMAACgCAAA4AAAAKAKAALgAAAA4AoAASAAAACgCAA
	AoAoAASAAAACgCAADIAwAAKAIAADgAAAAoAoAAuAAAADgCgABIAAAAKAIAACgCgABIAA
	AAKAIAAMgDAAAoAgAAOAAAACgCgAC4AAAAOAKAAEgAAABIAoAASAAAACgCAADIAwAAKA
	IAADgAAAAoAoAAKAHAAAAASAHAAEgCAAA4AoAASAAAAEgCgABIAAABCAIAADgAAAAoAg
	AAeAAAAEgCAAA4AoAASAAAACgCgAAoAgAAyAAAANgCAAC4AAAAOAKAAEgAAABIAgAA2A
	AAACgCAABIAoAAWAIAAMgAAACYAgAA+AAAACgCAABIAoAAWAIAAMgAAACIAgABCAAAAC
	gCAABIAoAAWAIAAPgAAABYAgABCAAAACgCAABIAoAAWAIAAPgAAABYAgAAmAAAACgCAA
	BYAAAAKAIAAEgCgABYAgABCAAAACgCAAC4AwAAKAIAAFgAAAC4AgABCAAAACgCAAC4Aw
	AAKAIAAFgAAAB4AgAA==
	</data>
	<key>bg1</key>
	<data>
	LwAnAJAAAABSDgAAkAAAACSAAAAaAFiAAAAZAFKAAAAZAByAAAAZABaAAAAaACCAAAAZ
	AMyAAAAYAMyAAAAaADaAAAAZAGSAAAAZADWAAAAZAAiAAAAZAEKAAAAZAASAAAAaAJyA
	AAAaAD6AAAAZAMqAAAAZAAyAAAAIAMOAAAAaAAeAAAAZAA+AAAAZAAiAAAAaAK2AAAA=
	</data>
	<key>bg2</key>
	<data>
	LwAnAAwAAABSDgAADAAAACmHAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
