<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	KwAQAEwBAABgBQAATAEAAC6AIAAWgDAAB4AgAAWAAAAgAAWAKAADgCAAFoAwAAeAIAAF
	gAAAIAAFgCgAGYAgAAWAAAACgCAABYAAACAACIAoABKAAAAEgCgABYAAAAKAIAAFgAAA
	IAAIgCgAEoAAAASAKAAFgAAAAoAgAAWAAAAgAAiAKAASgAAABIAoAAWAAAAEgCAAAAAD
	gCAACIAoABKAAAAEgCgABYAAAASAIAAAAAOAIAAIgCgAEoAAAAaAIAAAAAaAIAAAAAiA
	IAADgCgABYAAAAiAIAAYgAAAA4AgAAOAKAAFgAAAAoAgAAOAAAADgCAAGIAAAAOAIAAD
	gCgABYAAAAKAIAAegAAAA4AgAAOAKAAFgAAAAoAgAAOAAAADgCAAGIAAAAOAIAADgCgA
	BYAAAAiAIAAYgAAABoAgACWAMAAGgCAAJYAwAAOAIAAzAA==
	</data>
	<key>bg1</key>
	<data>
	KwAQAFQAAABgBQAAVAAAAKOAAAAZAE6AAAAZABSAAAAaAAKAAAAaAAKAAAAaAAiAAAAZ
	AImAAAAaAAiAAAAZADqAAAAZACSAAAAIAEKAAAAZAAiAAAAZAFqAAAA=
	</data>
	<key>bg2</key>
	<data>
	KwAQAAwAAABgBQAADAAAALCCAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
