<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	EQBAAAACAACACAAAAAIAAAeAKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAo
	AAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOA
	AAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAO
	gCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgA
	A4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AA
	AA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6A
	KAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAAD
	gAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAA
	DoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAo
	AAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOAAAAOgCgAA4AAAA6AKAADgAAADoAoAAOA
	AAAHgCgAIoAgAA==
	</data>
	<key>bg1</key>
	<data>
	EQBAAHgAAACACAAAeAAAADuAAAAZAFOAAAAPAGaAAAAPAFWAAAAPAEOAAAANADCAAAAZ
	ABKAAAAPADGAAAANADOAAAAPAB+AAAANADSAAAAZAOyAAAAaABCAAAAZABCAAAAaABCA
	AAAZABCAAAAaABCAAAAZADKAAAAIADuAAAA=
	</data>
	<key>bg2</key>
	<data>
	EQBAAAwAAACACAAADAAAAECEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
