<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	LAAgAMQDAAAACwAAxAMAAAKAIAAcgDAAAoAgAAqAMAAEgCAAHIAwAAKAIAAKgDAAAoAg
	AAKAKAAcgAAAAoAoAAqAAAAEgCgAHIAAAAKAKAAKgAAABIAoAByAAAACgCgACoAAAASA
	KAAEgAAAAoAgAAeAMAACgCAADYAAAAKAKAAKgAAABIAoAASAAAACgCAAB4AwAAKAIAAN
	gAAAAoAoAAqAAAAEgCgADYAAAAKAKAANgAAAAoAoAAKAAAACgCAABoAAAASAKAANgAAA
	AoAoAA2AAAACgCgAAoAAAAKAIAAGgAAABIAoAA2AAAACgCgADYAAAAKAKAACgAAAAoAg
	AAaAAAAEgCgADYAAAAKAKAANgAAAAoAoAAqAAAACgCgAAoAgAAiAMAACgCAAA4AAAAKA
	IAAFgDAAAoAgAAaAAAACgCgACoAAAAKAKAACgCAACIAwAAKAIAADgAAAAoAgAAWAMAAC
	gCAABoAAAAKAKAAKgAAABIAoAA2AAAACgCgADYAAAAKAKAAKgAAABIAoAA2AAAACgCgA
	DYAAAAKAKAAKgAAABIAoAA2AAAACgCgADYAAAAKAKAAGgAAAAoAgAAKAAAAEgCgADYAA
	AAKAKAANgAAAAoAoAAaAAAACgCAAAoAAAASAKAANgAAAAoAoAA2AAAACgCgABoAAAAKA
	IAACgAAABIAoAASAAAAFgCAABIAAAAKAKAAEgAAAAoAgAAeAMAACgCAACoAAAASAKAAE
	gAAABYAgAASAAAACgCgABIAAAAKAIAAHgDAAAoAgAAqAAAAEgCgABIAAAAWAKAAEgAAA
	AoAoAASAAAACgCgAB4AAAAKAKAAKgAAABIAoAASAAAAFgCgABIAAAAKAKAAEgAAAAoAo
	AAeAAAACgCgACoAAAASAKAAEgAAABYAoAASAAAACgCgABIAAAAKAKAAHgAAAAoAoAAKA
	AAACgCAABoAAAASAKAAEgAAABYAgAASAMAACgCAABIAAAAKAKAAHgAAAAoAoAAKAAAAC
	gCAABoAAAASAKAAEgAAABYAgAASAMAACgCAABIAAAAKAKAAHgAAAAoAoAAKAAAACgCAA
	BoAAAASAKAANgAAAAoAoAASAAAACgCAAB4AAAAKAIAAKgAAABIAoAA2AAAACgCgABIAA
	AAKAIAAHgAAAAoAgAAqAAAAEgCgADYAAAAKAKAAZgAAABIAoAA2AAAACgCgAGYAAAASA
	KAANgAAAAoAoABmAAAACgCgAAoAgAA2AMAACgCAAGYAwAASAIAANgDAAAoAgABmAMAAC
	gCAA
	</data>
	<key>bg1</key>
	<data>
	LAAgAOgAAAAACwAA6AAAAGCAAAAeAA+AAAAeAA6AAAAeAAiAAAAaAAuAAAAZAAmAAAAa
	ADaAAAAZACCAAAAZAFGAAAACgBoAEYAAABkAGIAAAAKAGgAagAAAGQAbgAAAHgAugAAA
	HgAigAAAGQBDgAAAHgBHgAAAGQAEgAAAGgAHgAAAGQA2gAAAHgAvgAAAGQAHgAAAGgA4
	gAAAHQA8gAAAGgAMgAAAHgAygAAAHgAygAAAGQAegAAAGQBFgAAAHgAagAAAHgA3gAAA
	GQAPgAAAGQAGgAAAGgAdgAAACAAXgAAAGQACgAAAGgCIgAAA
	</data>
	<key>bg2</key>
	<data>
	LAAgAAwAAAAACwAADAAAAICFAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
