<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	KQAbAPABAACmCAAA8AEAAIKAIAAHgAAAHAARgAAAEIAgAB2AAAAIgCAAC4AAABwAFYAA
	AAiAIAALgAAAEoAgAAWAAAAHgCAACIAAABaAIAAEgAAABoAgAAaAAAAZgCAABYAAAAWA
	IAAGgAAAGYAgAAWAAAAFgCAABYAAAA6AIAAFgAAAB4AgAAWAAAAFgCAABYAAAAuAIAAI
	gAAACIAgAASAAAAFgCAAA4AAAAuAIAAKgAAACIAgAASAAAAFgCAAA4AAAAuAIAALgAAA
	B4AgAASAAAAFgCAABIAAAAiAIAAEgAAABIAgAAWAAAAIgCAAA4AAAAWAIAAEgAAACIAg
	AASAAAAEgCAABYAAAAiAIAADgAAABYAgAASAAAAIgCAABIAAAASAIAAFgAAACIAgAAOA
	AAAFgCAABYAAAAaAIAAFgAAABIAgAAWAAAAGgCAABYAAAAWAIAAFgAAABoAgAAWAAAAE
	gCAABYAAAAaAIAADgAAAB4AgAAWAAAAGgCAABYAAAAaAIAAFgAAABIAgAAOAAAAJgCAA
	DYAAAAeAIAAFgAAABIAgAAOAAAAJgCAADYAAAAeAIAAGgAAAIAAFgAAACYAgAAqAAAAL
	gCAACoAAABGAIAADgAAAC4AgAAqAAAARgCAAA4AAAAuAIAAFgAAAXYAgAAAA
	</data>
	<key>bg1</key>
	<data>
	KQAbAGwAAACmCAAAbAAAALKAAAAZAAKAAAAJAAaAAAAZAAWAAAAZALGAAAAZAEmAAAAa
	AECAAAAaABCAAAAZADCAAAAaADWAAAAZADCAAAAZAFGAAAAaAGeAAAAZAAOAAAAaAD6A
	AAAZAAAAGgCrgAAAzQI=
	</data>
	<key>bg2</key>
	<data>
	KQAbAAwAAACmCAAADAAAAFOEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
