<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	LAAjAPgCAAAIDAAA+AIAAHWAAAACgCAAAoAAAAKAIAAlgAAAIAAwACAAAoAAACAAMAAg
	ACOAAAAgACgAAoAgAAKAAAACgCAAKAAgAA2AAAACgCAAAAACgCAAEIAAAAOAIAAEgAAA
	A4AgAAyAAAAgADAAIAAAACAAMAAgACSAAAAgACgAAoAgAAAAAoAgACgAIAAjgAAAA4Ag
	AAOAAAADgCAADoAAAAOAIAAEgAAAA4AgACKAAAAgACgAAoAgAAKAAAACgCAAKAAgAAuA
	AAADgCAAA4AAAAOAIAAPgAAAIAAwACAAAoAAACAAMAAgAAyAAAAgACgAAoAgAAAAAoAg
	ACgAIAAQgAAAAoAgAAKAAAACgCAADoAAACAAMAAgAAAAIAAwACAAJoAAAAKAIAAAAAKA
	IAA4gAAAAoAgAAKAAAACgCAAJYAAACAAMAAgAAKAAAAgADAAIAAjgAAAIAAoAAKAIAAC
	gAAAAoAgACgAIAAigAAAA4AgAASAAAADgCAAeoAAAAOAIAAEgAAAA4AgACKAAAAgACgA
	AoAgAAKAAAACgCAAKAAgABmAAAACgCAAAoAAAAKAIAAEgAAAIAAwACAAAoAAACAAMAAg
	AAaAAAACgCAAAoAAAAKAIAANgAAAIAAwACAAAoAAACAAMAAgAASAAAACgCAAAoAAAAKA
	IAAGgAAAIAAwACAAAoAAACAAMAAgAAuAAAAgACgAAoAgAAKAAAACgCAAKAAgAA6AAAAg
	ACgAAoAgAAKAAAACgCAAKAAgAAqAAAADgCAABIAAAAOAIAAOgAAAA4AgAASAAAADgCAA
	YoAAAAOAIAAEgAAAA4AgAA6AAAADgCAABIAAAAOAIAAKgAAAIAAoAAKAIAACgAAAAoAg
	ACgAIAAOgAAAIAAoAAKAIAACgAAAAoAgACgAIAALgAAAIAAwACAAAoAAACAAMAAgABCA
	AAAgADAAIAACgAAAIAAwACAADYAAAAKAIAACgAAAAoAgABKAAAACgCAAAoAAAAKAIACG
	gAAA
	</data>
	<key>bg1</key>
	<data>
	LAAjANAAAAAIDAAA0AAAAE6AAAAeAGuAAAAeAECAAAAZABoAU4AAAB4AF4AAABkABoAA
	AA8ABoAAAA8ACIAAABoAGQASgAAAGQAaABkAKoAAABkAJoAAAB4ASoAAAA4AFIAAAA4A
	C4AAAB4AfYAAAAgAEIAAAA4AIoAAABoAGQAcgAAADgA+gAAAHgAmgAAAGQAaAEiAAAAe
	AB6AAAAeACOAAAAeAEOAAAACgBkABIAAAA0ACIAAAA0AdIAAAAKAGgCGgAAAHgAQgAAA
	HgAxgAAAHgBagAAA
	</data>
	<key>bg2</key>
	<data>
	LAAjAAwAAAAIDAAADAAAAASGAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
