<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	EgASABwBAACIAgAAHAEAADaAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAo
	AAAAKAADgAAAKAAAACgAA4AAACgAAAAoAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAA
	MAAgADmAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAoAAAAKAADgAAAKAAA
	ACgAA4AAACgAAAAoAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgADmAAAAgADAA
	IAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAoAAAAKAADgAAAKAAAACgAA4AAACgAAAAo
	AAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAAAA==
	</data>
	<key>bg1</key>
	<data>
	EgASAEgAAACIAgAASAAAAEyAAAAZAAWAAAAZAAWAAAAZAC+AAAAIAC+AAAAaAAWAAAAa
	AAWAAAAZAF+AAAAZAAWAAAAZAAWAAAAaABOAAAA=
	</data>
	<key>bg2</key>
	<data>
	EgASAAwAAACIAgAADAAAAESBAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
