<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HwAdANADAAAGBwAA0AMAAAeAIAAoAAKAIAAoAAaAIAAwAAKAIAAoAASAIAAoAAaAIAAo
	AAKAIAAoABaAIAADgAAACIAgAAyAAAAgADAAAoAgACgAIAAoACAAA4AAAAOAIAAoAAKA
	IAAoACAAAAAIgCAAAAAgAAAACIAgAAOAAAAIgCAAAAAgACgAAoAgADAAIAAoACAAAAAg
	AAAAIAAoADAAAoAgADAAA4AgAAAACYAgAAAABoAgADAAIAAAACAAAAAJgCAAAAAFgCAA
	KAAgACgAIAAAAAKAIAAwACAAKAADgCAAAAAgAAAAIAAoADAAIAAoADAAIAAoACAAAAAo
	AAiAIAAAACAAKAAGgCAAAAAgAAAAAoAgACgABoAgAAAABIAgADAAIAAwAAKAIAAKgAAA
	IAAAAASAIAAwACAAKAACgCAAAAASgCAADYAAAAOAIAAoADAAKAAgADAAAoAgACgAIAAo
	ACAAA4AAACAAAAAgAAAABYAgAAAAIAAoAAKAIAAoAAeAIAAoAAWAIAAAACAAA4AAACAA
	AAADgCAAKAAwAAAAIAAwAAaAIAALgAAABYAgAAAAIAACgCgAAoAgAAAAIAACgDAABYAg
	AAAABYAgAAAAB4AgADAAIAAAADAAIAAwAAKAIAAAACAAKAAEgCAAKAAgAAAAIAAoACAA
	KAAgAAAAAoAgACgAIAAoAASAIAAAACAAKAAgACgAIAAAAAiAIAAAAAOAIAAwACAAAAAD
	gCAAMAAgACgAIAAoACAAAAAFgCAAAAAIgCAACoAAAAKAIAAwAAOAIAAHgAAADoAgADAA
	AoAgAAAAMAADgCAAKAAgAAAABYAgAAAAIAACgDAABIAgACgAAoAgACgAIAAEgAAAIAAA
	ACAAKAAwACgAAoAgAAAAAoAgACgAAoAgAAAAA4AgADAABYAgACgAAoAgAAAAAoAgAAAA
	IAAAAAaAIAAAACAAKAAgADAAIAAAAAeAIAAoACAAMAACgCAAAAACgCAAA4AAAAKAIAAo
	ADAAAoAgAAAAAoAgADAAAoAgAAAAMAAgADAABIAgACgAAoAgAAOAAAADgCAAMAAgADAA
	BYAgAAAABYAgAAAAB4AgADAAKAAgAAAAA4AgACgAB4AgACgAIAAHgAAAIAAwAAiAIAAA
	ACAAKAACgCAAMAAgACgAIAAwAAeAIAAwAAKAIAAwAAKAIAAoAAWAIAADgAAAA4AgADAA
	BoAgADAABIAgACgABIAgADAABoAgADAAA4AAACAAMAAKgCAAMAAFgCAAMAAJgCAAA4AA
	ACAAKAAdgCAAKAA4gCAA
	</data>
	<key>bg1</key>
	<data>
	HwAdAFgAAAAGBwAAWAAAAFqAAAAZAEeAAAAZAAqAAAAaAEeAAAAaAA+BAAAZAC6AAAAZ
	ACqAAAAaAAWAAAAaACmAAAAZAAAAGgAtgAAAGQANgAAAGQA8gAAACAB4gAAA
	</data>
	<key>bg2</key>
	<data>
	HwAdAAwAAAAGBwAADAAAAIODAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
