<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	IQAiAHwCAADECAAAfAIAADqAIAAoAAOAIAADgAAAGYAgADAAAoAgAAWAAAAZgCAAMAAC
	gCAAAAAgAAOAAAAbgCAAAoAAABuAIAAwACgABIAAABqAIAAoAAKAIAACgAAAIAAoABeA
	IAAwACAAKAACgCAAAoAAAAOAIAAwABeAIAAwACAABIAAABqAIAAwAAKAIAACgAAAAoAg
	ACgAMAAUgCAAMAAoAASAIAACgAAAAoAgAAKAMAAXgCAAMAAgAASAAAAgADAAA4AgADAA
	EIAgADAAA4AgACgAAoAgAAKAAAACgCAAKAAXgCAAMAADgCAAAoAAACAAMAAgADAAF4Ag
	ADAAIAAEgAAAA4AgADAAFoAgADAAAoAgAAKAAAADgCAAKAATgCAAMAACgCAAAoAoAAKA
	IAACgAAAAoAgACgAMAAXgCAAMAAgAASAAAACgCAAMAACgCAAKAATgCAAAoAwAAKAIAAC
	gAAAAoAgACgAIAAoABWAIAAoAAOAIAACgAAAIAACgCgABIAgAAKAMAAPgCAAKAAgACgA
	MAAgAASAAAADgCgAE4AgADAAA4AgADAAAoAgAAKAAAACgCAAAoAoADAAFoAgADAAAoAg
	AAKAAAACgCAAKAAwACAAKAAUgCAAMAAoACAABIAAACAAMAADgCAAMAAXgCAAAoAAAAOA
	IAAoABeAIAAwAAKAIAACgAAAAoAgADAAAoAgAAKAMAAXgCAAA4AAACAAMAAgACgAIAAC
	gDAAFYAgAAOAAAAgACgAMAAbgCAAAoAAAASAIAAoABqAIAAAAAOAIAAoABuAIAADgAAA
	IAAwAAKAIAAwABmAIAADgAAAHoAgAAOAAAA+gCAAAAA=
	</data>
	<key>bg1</key>
	<data>
	IQAiACQAAADECAAAJAAAAGCAAAAZAF2BAAAZAACBAAAZAEGBAAAIAGCAAAA=
	</data>
	<key>bg2</key>
	<data>
	IQAiAAwAAADECAAADAAAAGKEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
