<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	GAAUAMABAADAAwAAwAEAAAuAAAAcAAmAAAACgCAADIAAABwACYAAAAKAIAAMgAAAHAAJ
	gAAAAoAoAAOAAAACgCAACIAwAAKAIAAHgAAAAoAoAAOAAAACgCAACIAwAAKAIAACgAAA
	BIAgAAAAAoAoAAOAAAACgCAACIAwAAKAIAACgAAAIAACgDAAIAAAAAKAIAADgAAAAoAo
	AAyAAAAEgCAAAAACgCAAAAACgBwAAoAoAAiAHAAAAAuAHAACgAAAAoAoAA2AAAAgAAiA
	AAACgCgADYAAACgACIAAAAKAKAANgAAAKAAIgAAAAoAoAA2AAAAoAAOAAAACgCAAA4AA
	AAKAKAAEgAAABYAgAASAAAAoAAOAAAACgCAAA4AAAAKAIAAEgAAAIAADgDAAIAAEgAAA
	KAADgAAAAoAoAAOAAAACgCAABIAAACAAA4AwACAABIAAACgAA4AAAAKAIAAJgAAAIAAD
	gDAAIAAEgAAAKAADgAAAAoAgAAmAAAAFgCAABIAAACAACoAAAAOAIAAEgAAAHAAQgAAA
	A4AgAAiAAAACgCAAA4AwAAKAIAANgAAAHAADgAAAAoAgAAOAMAACgCAAAoAAAAAA
	</data>
	<key>bg1</key>
	<data>
	GAAUAHgAAADAAwAAeAAAAAKAAAAZAGuAAAACgBoAFoAAAAKAGgAsgAAAGQAQgAAAGQAO
	gAAAGQALgAAAGgADgAAAGAAGgAAADQAmgAAADAASgAAAGQAMgAAADQAKgAAAGQAJgAAA
	CAAzgAAADQAUgAAADwApgAAAAoAZACSAAAA=
	</data>
	<key>bg2</key>
	<data>
	GAAUAAwAAADAAwAADAAAAOCBAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
