<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	IgAaAJgBAADoBgAAmAEAABCAAAACgCAAIIAAAAKAIAAUgAAAAoAgAAAAAoAgAAeAAAAc
	ABSAAAAgACgAIAAAACAAKAAgAAaAAAAcABOAAAAgADAAAoAgAAAAAoAgADAAIAAFgAAA
	HAATgAAAA4AgAAOAAAADgCAABYAAABwACoAAAAKAIAAVgAAAHAAKgAAAAoAgAAeAAAAD
	gCAAA4AAAAOAIAARgAAAHAAHgAAAIAAwAAKAIAAAAAKAIAAwACAABYAAABwAA4AAAAKA
	IAAGgAAAHAAIgAAAIAAoACAAAAAgACgAIAAGgAAAHAADgAAAAoAgAAaAAAAcAAmAAAAC
	gCAAAAACgCAAB4AAABwAC4AAABwAFYAAABwAC4AAABwAFYAAABwAC4AAABwAFYAAABwA
	C4AAABwACIAAAAKAIAALgAAAHAAUgAAAAoAgAAuAAAACgCAACoAAABwAFYAAAAKAIAAK
	gAAAHAAhgAAAHAAhgAAAHAANgAAAAoAgAAmAHAAAAAeAHAACgCAADYAAAAKAIAARgAAA
	AoAgAK+AAAA=
	</data>
	<key>bg1</key>
	<data>
	IgAaAIQAAADoBgAAhAAAACaAAAAeAA2AAAAeAG6AAAAeAAyAAAAZACCAAAAZABoAGQAg
	gAAAGQAJgAAAGQAcgAAAHgAsgAAAHgA5gAAAGgAOgAAAGgAdgAAACABIgAAAGQAKgAAA
	HgAMgAAAHgBbgAAAHgAsgAAAGQAJgAAAHgA2gAAAGgCZgAAAAAA=
	</data>
	<key>bg2</key>
	<data>
	IgAaAAwAAADoBgAADAAAAHSDAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
