<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HgAiADgDAAD4BwAAOAMAABGAAAAcAAyAAAAZgBwAAAAEgBwAEYAAABwAOoAAAAOAHAAa
	gAAAHAAAABwAAAAcABiAAAAcAAKAAAAcAAKAAAAcAAOAAAACgCAAEYAAABwAA4AAABwA
	A4AAABwAAoAAAAKAIAAEgAAAA4AgAAmAAAAcAASAAAAcAASAAAAcAAeAAAADgCAAHAAH
	gAAAHAAFgAAAHAAFgAAAHAAGgAAAA4AgAAAAHAAFgAAAHAAGgAAAHAAGgAAAHAAFgAAA
	A4AoAAKAAAAcAAOAAAAcAAeAAAAcAAeAAAAcAASAAAADgCgAA4AAABwAAAAcAAiAAAAc
	AAaAAAACgCAABIAAAAOAKAAEgBwAAAAQgBwAAoAgAASAAAADgCgAA4AAABwAAAAcAAiA
	AAAcAAaAAAAcAAWAAAADgCgAAoAAABwAA4AAABwAB4AAABwABoAAABwABYAAAAOAKAAA
	ABwABYAAABwABoAAAAKAHAAFgAAAHAAFgAAAA4AoABwAB4AAABwABYAAABwAAAAcAASA
	AAAcAASAAAAcAAOAKAAJgAAAHAAEgAAAHAACgAAAHAADgAAAHAADgAAAHAAAAAOAKAAK
	gAAAHAADgAAAHAADgAAAHAACgAAAHAACgAAAHAACgAAAA4AoAAuAAAAcAAKAAAAcAASA
	AAAcAAAAHAAAABwAA4AAAAOAKAAEgAAAIAAwACAABYAAABwAAAAcAAWAAAADgBwABIAA
	AAOAKAAEgAAAIAAwACAABoAAAAKAHAAMgAAAA4AoAA6AAAAcAAWAAAADgBwABIAAAAOA
	KAAOgAAAHAAEgAAAHAAAABwAAAAcAAOAAAADgCgADoAAABwAA4AAABwAAoAAABwAAoAA
	ABwAAoAAAAOAKAAEgAAAIAAwACAAB4AAABwAAoAAABwAA4AAABwAA4AAABwAAAADgCgA
	BIAAACAAMAAgAAeAAAAcAAAAHAAEgAAAHAAEgAAAHAADgCgADoAAAAKAHAAFgAAAHAAF
	gAAAA4AoAA6AAAAcAAaAAAAcAAWAAAADgCgADoAAABwABoAAABwABYAAAAOAIAAbgDAA
	A4AgABuAMAADgCAAG4AwAA==
	</data>
	<key>bg1</key>
	<data>
	HgAiAGwAAAD4BwAAbAAAADeAAAAZADOAAAAZABuAAAAdADOAAAAIAFaAAAAdAAWAAAAd
	AA2AAAAdAFWAAAAdABCAAAAZAGuAAAAdADeAAAAdAC6AAAAeAEuAAAAZACuAAAAaAB2A
	AAAeAAmAAAAdAPuAAAA=
	</data>
	<key>bg2</key>
	<data>
	HgAiAAwAAAD4BwAADAAAAPyDAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
