<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HgASAMwBAAA4BAAAzAEAACAAMAAgAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAg
	AAOAAAAgADAAIAADgAAAKAAAACgAA4AAACgAAAAoAAOAAAAoAAAAKAADgAAAKAAAACgA
	A4AAACgAAAAoAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAgADAAIAAD
	gAAAIAAwACAAYIAAACAAMAAgAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOA
	AAAgADAAIAADgAAAKAAAACgAA4AAACgAAAAoAAOAAAAoAAAAKAADgAAAKAAAACgAA4AA
	ACgAAAAoAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAgADAAIAADgAAA
	IAAwACAAWoAAACAAMAAgAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAg
	ADAAIAADgAAAKAAAACgAA4AAACgAAAAoAAOAAAAoAAAAKAADgAAAKAAAACgAA4AAACgA
	AAAoAAOAAAAgADAAIAADgAAAIAAwACAAA4AAACAAMAAgAAOAAAAgADAAIAADgAAAIAAw
	ACAAXYAAAAAA
	</data>
	<key>bg1</key>
	<data>
	HgASAPAAAAA4BAAA8AAAACGAAAAeAD+AAAAdAAaAAAAeAASAAAAdAAaAAAAeAAeAAAAZ
	AAWAAAAZAAWAAAAZAAWAAAAZAAWAAAAZADGAAAAeAAuAAAAJAAWAAAAeABoABYAAABoA
	BYAAABoABYAAABoALIAAAB0AC4AAAB0ABoAAAB4ABIAAABkABYAAABkABYAAABkABYAA
	ABkABYAAABkAQIAAAB4AGgAFgAAAGAAFgAAAGgAFgAAAGAAFgAAAGgAlgAAAHQAMgAAA
	HQAGgAAAHgAHgAAAGQAFgAAAGQAFgAAAGQAFgAAAGQAFgAAAGQAfgAAAewI=
	</data>
	<key>bg2</key>
	<data>
	HgASAAwAAAA4BAAADAAAAByCAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
