<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HgATAIACAAB0BAAAgAIAAAKAKAAFgAAAAoAgAAKAHAAAAAKAHAACgCgABYAAAAKAKAAF
	gAAABIAoAAWAAAACgCAABYAAAAKAKAACgBwAAAACgBwAAoAoAASAHAAAAASAKAAMgAAA
	AoAoAAWAAAACgCgABYAAAASAKAAMgAAAAoAoAAWAAAACgCAABYAAAASAKAAFgAAAAoAg
	AAWAAAACgCgABYAAAAKAIAAFgAAABIAoAAWAAAACgCAABYAAAAKAKAAMgAAABIAoAAWA
	AAACgCgABYAAAAKAKAAMgAAAAoAgAAKAKAACgBwAAAACgBwAAoAoAAWAAAACgCgABYAA
	AAKAIAAFgAAAAoAgAAKAKAAFgAAAAoAoAAKAHAAAAAKAHAACgCgABYAAAAKAIAAGgAAA
	A4AoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAaAAAADgCgABYAAAAKAKAAFgAAAAoAo
	ABwAAAADgBwAAoAoAAaAAAADgCgABYAAAAKAKAAFgAAAAoAgAAWAAAACgCgABYAAAAKA
	IAACgCgABYAAAAKAKAAFgAAAAoAgAAWAAAACgCgABYAAAAKAIAACgCgABYAAAAKAKAAM
	gAAAAoAoAAWAAAAEgCgAAoAcAAAAAoAcAAKAKAAMgAAAAoAoAAWAAAAEgCgABYAAAAKA
	KAAFgAAAAoAgAAWAAAACgCgAAoAcAAAAAoAcAASAKAAFgAAAAoAoAAWAAAACgCAABYAA
	AAKAKAAFgAAAAoAoAAKAIAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAKA
	IAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAAA
	</data>
	<key>bg1</key>
	<data>
	HgATAGgAAAB0BAAAaAAAAAOAAAAaAAeAAAAZACSAAAAZAAiAAAAZAEKAAAAIAA6AAAAa
	AAaAAAAYAEOAAAAZACSAAAAZAC6AAAAZABKAAAAZAGqAAAAZADKAAAAZABCAAAAaAAaA
	AAAaAEaAAACbAA==
	</data>
	<key>bg2</key>
	<data>
	HgATAAwAAAB0BAAADAAAADqCAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
