<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	EAAeANQBAADAAwAA1AEAACAAD4AwACgAD4AgACgABIAAACgABoAAACgAA4AAACgABIAA
	ACgABoAAACgAA4AAACgABIAAACgABoAAACgAA4AAACgABIAAACgABoAAACgAA4AAACgA
	BIAAACgABoAAACgAA4AAACgABYAgAAaAAAAEgCAAKAAgAASAMAAgAASAAAAgAASAMAAo
	ACAABIAwACAABIAAACAABIAwACgAAoAgAA2AAAAoACAAKAANgAAAKAAgACgADYAAACgA
	IAAoAA2AAAAoACAAKAANgAAAKAAgACgABIAAAASAIAAFgAAAKAAgACgABIAAACAACIAw
	ACgAIAAoAASAAAAgAAiAMAAoACAAKAAEgAAACYAgACgAIAAoAAiAAAAoAASAAAAoACAA
	KAAIgAAAKAAEgAAAKAAgACgACIAAACgABIAAACgAIAAoAAiAAAAoAASAAAAoAAWAIAAF
	gAAAKAAEgAAAKAAEgAAAKAAFgAAAKAAEgAAAKAAEgAAAKAAFgAAAKAAEgAAAKAAEgAAA
	KAAFgAAAKAAEgAAAKAAEgAAAKAAFgAAAKAAEgAAAKAAEgAAAKAAFgAAAKAAEgAAAKAAE
	gAAAKAAFgAAAKAAEgAAACwI=
	</data>
	<key>bg1</key>
	<data>
	EAAeACQAAADAAwAAJAAAAFiAAAAZAGSAAAAZAFaAAAAZAKOAAAAIACeAAAA=
	</data>
	<key>bg2</key>
	<data>
	EAAeAAwAAADAAwAADAAAAOCBAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
