<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HAATACABAAAoBAAAIAEAAAKAKAAFgAAAIAANgDAAIAAEgAAAAoAgAAKAKAAFgAAAIAAN
	gDAAIAAEgAAABIAoABiAAAAEgCgAFIAAAAKAIAACgAAABIAoAAWAAAACgCAADYAAAAKA
	IAACgAAABIAoAAWAAAACgCAAEYAAAASAKAAMgAAAAoAgAAqAAAAEgCgADIAAAAKAIAAK
	gAAABIAoABiAAAAEgCgAC4AAACAADIAwAASAIAALgAAAIAAMgDAAAoAgADKAAAACgCAA
	BIAAAAKAIAAFgAAAAoAgAA2AAAACgCAABIAAAAKAKAAFgAAAAoAgABOAAAACgCgAC4AA
	AAKAIAANgAAAAoAoAAuAAAACgCAADYAAAAKAKAAagAAAAoAoABqAAAA=
	</data>
	<key>bg1</key>
	<data>
	HAATADwAAAAoBAAAPAAAAHOAAAAZAAqAAAAZAD+AAAAaACuAAAAZADSAAAAIAJeAAAAZ
	ABKAAAAZAAiAAAAaAECAAAA=
	</data>
	<key>bg2</key>
	<data>
	HAATAAwAAAAoBAAADAAAABSCAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
