<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	IQAlAJwBAACKCQAAnAEAAAKAIAAdgDAABIAgAB2AMAACgCAAAoAoAB2AAAAEgCgAHYAA
	AASAKAAdgAAABIAoAB2AAAAEgCgAHYAAAASAKAAEgAAAAoAgABeAMAACgCAAAoAoAASA
	AAACgCAAF4AwAAKAIAACgCgAHYAAAASAKAAdgAAABIAoAB2AAAAEgCgAHYAAAASAKAAd
	gAAAAoAoAAKAIAAXgDAAAoAgAASAAAACgCgAAoAgABeAMAACgCAABIAAAASAKAAdgAAA
	BIAoAB2AAAAEgCgAHYAAAASAKAAdgAAABIAoAB2AAAAEgCgABIAAAAKAIAAXgDAAAoAg
	AAKAKAAEgAAAAoAgABeAMAACgCAAAoAoAB2AAAAEgCgAHYAAAASAKAAdgAAABIAoAB2A
	AAAEgCgAHYAAAAKAKAACgCAAF4AwAAKAIAAEgAAAAoAoAAKAIAAXgDAAAoAgAASAAAAE
	gCgAHYAAAASAKAAdgAAABIAoAB2AAAAEgCgAHYAAAASAKAAdgAAAAoAoAAKAIAAdgDAA
	BIAgAB2AMAACgCAA
	</data>
	<key>bg1</key>
	<data>
	IQAlAFwAAACKCQAAXAAAAIuAAAAZABSAAAAZAJaAAAAOAHuAAAAMAHSAAAAOAFqBAAAM
	AJ+AAAAJAAAAGQAAABoAAAAZAAAAGgAAABkAAAAaAAAAGQAAABoAAAAZAI+AAACTAg==
	</data>
	<key>bg2</key>
	<data>
	IQAlAAwAAACKCQAADAAAAMWEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
