<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HgAZANgBAADcBQAA2AEAABSAIAAIgDAAFoAgAAiAMAACgCAAAoAoABCAAAACgCAACIAw
	AAKAIAACgCgAEIAAAAyAIAACgCgAEIAAAAyAIAACgCgAEYAAAAOAKAAGgAAABIAoABGA
	AAADgCgABoAAAASAKAAFgAAABoAgAAaAAAADgCgABoAAAASAKAAFgAAABoAgAAaAAAAD
	gCgABoAAAASAKAAGgAAABIAoAAeAAAADgCgABoAAAASAKAAGgAAABIAoAAeAAAADgCgA
	BoAAAASAKAAGgAAABIAoAAeAAAADgCgABoAAAASAKAAGgAAABIAoAAeAAAADgCgABoAA
	AASAKAAGgAAABIAoAAeAAAADgCgABoAAAASAKAAGgAAABIAoAAeAAAADgCgABoAAAASA
	KAAGgAAABIAoAAeAAAADgCgABoAAAASAKAAGgAAABIAoAAaAAAAFgCAABYAAAASAKAAG
	gAAABIAoAAaAAAAFgCAABYAAAASAKAAGgAAABIAoABCAAAAEgCgABoAAAASAKAAQgAAA
	BIAoAAaAAAAEgCgAEIAAAASAKAAFgAAABoAgAA+AAAAEgCgABYAAAAaAIAAPgAAAAoAo
	AAmAIAACgDAAHIAgAAKAMAATgCAA
	</data>
	<key>bg1</key>
	<data>
	HgAZAHwAAADcBQAAfAAAAHyAAAAZAAKAAAAaAAKAAAAZAAKAAAAaAAAAGQBZgAAAGgAJ
	gAAAGQAmgAAAGgBZgAAAGQAKgAAAGQAdgAAAGgAJgAAAGQAxgAAAGQASgAAAGQBkgAAA
	GgAdgAAAGQAEgAAAGAAEgAAAGQAIgAAACABzgAAA
	</data>
	<key>bg2</key>
	<data>
	HgAZAAwAAADcBQAADAAAAO6CAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
