<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	IwAVACwBAAC+BQAALAEAAAmAAAAgAASAMAAgAB2AAAAgAASAMAAgAAuAAAAgAASAMAAg
	AB2AAAAgAASAMAAgACaAAAAgAAWAMAAgAAmAAAAgAAWAMAAgAAyAAAAgAAWAMAAgAAmA
	AAAgAAWAMAAgAHeAAAAgAAOAMAAgAAWAAAAgAAOAMAAgAAiAAAAgAAWAMAAgAAWAAAAg
	AAOAMAAgAAWAAAAgAAOAMAAgAAiAAAAgAAWAMAAgAE+AAAAgAAOAMAAgAB6AAAAgAAOA
	MAAgACaAAAAgAAOAMAAgAAqAAAAgAASAMAAgAA6AAAAgAAOAMAAgAAqAAAAgAASAMAAg
	ACWAAAAgAAOAMAAgAB6AAAAgAAOAMAAgAA2AAAAgAASAMAAgAB2AAAAgAASAMAAgAAmA
	AAA=
	</data>
	<key>bg1</key>
	<data>
	IwAVAJAAAAC+BQAAkAAAACWAAAAZABCAAAAZABqAAAAdACuAAAAdAAiAAAAdAEmAAAAZ
	AASAAAAeAA+AAAAYABeAAAAZAB6AAAAaABeAAAAaAFCAAAAdAAmAAAAeAAWAAAAZAAeA
	AAAdAGKAAAAIABSAAAAeAGmAAAAZAA2AAAAdACuAAAAZAAaAAAAeAAqAAAAZABOAAAA=
	</data>
	<key>bg2</key>
	<data>
	IwAVAAwAAAC+BQAADAAAAN+CAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
