<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	JwAlAOwBAABGCwAA7AEAAAKAIAAlgDAAAoAgACWAMAACgCgAFYAAAAQAD4AAAAKAKAAl
	gAAAAoAoACWAAAACgCgADYAAAAIAF4AAAAKAKAADgAAAAwAXgAAABAAJgAAAAoAoAA+A
	AAAEABGAAAADAAOAAAACgCgAF4AAAAMADYAAAAKAKAAlgAAAAoAoAAiAAAADAAaAAAAE
	ABWAAAACgCgAJYAAAAKAKAAlgAAAAoAoACGAAAAEAAOAAAACgCgAF4AAAAIABIAAAAIA
	CIAAAAKAKAAlgAAAAoAoAAOAAAAEACGAAAACgCgAB4AAAAIACIAAAAMAFIAAAAKAKAAl
	gAAAAoAoACGAAAAEAAOAAAACgCgAJYAAAAKAKAALgAAABAAZgAAAAoAoAASAAAAEABCA
	AAADAAmAAAADAAWAAAACgCgAJYAAAAKAKAAlgAAAAoAoACWAAAACgCgACIAAAAIADoAA
	AAIADYAAAAKAKAAlgAAAAoAoAA2AAAAEABeAAAACgCgAHoAAAAIABoAAAAKAKAASgAAA
	BAASgAAAAoAoACWAAAACgCgABoAAAAQAB4AAAAIAFoAAAAKAKAAWgAAAAwAOgAAAAoAo
	ACGAAAADAAOAAAACgCgAAoAAAAMAIoAAAAKAKAAKgAAABAAagAAAcgA=
	</data>
	<key>bg1</key>
	<data>
	JwAlAIAAAABGCwAAgAAAAMyAAAAZACWAAAAaAA6AAAAZACaAAAAaAIuAAAAZABoAF4AA
	ABkAGgBBgAAAGQBHgAAAGQAFgAAAGgAggAAAGgDPgAAAGQAaABuAAAAZACaAAAAaAK2A
	AAAaABkABoAAABoAGQCwgAAAGQAaAB6AAAAIAIeAAAAZAA==
	</data>
	<key>bg2</key>
	<data>
	JwAlAAwAAABGCwAADAAAAKOFAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
