<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	LAAfAIgBAACoCgAAiAEAAAWAAAACgCAAAoAwAAKAIAAmgAAAAoAgAAKAMAACgCAACIAA
	AAKAIAAqgAAAAoAgABeAAAACgCAAGYAAAAaAIAALgAAAAoAgABmAAAAgAASAMAAgAAuA
	AAACgCgAGYAAACAABIAwACAAC4AAAAKAIAAZgAAABoAgAAuAAAACgCAAfIAAAAOAIAAP
	gAAABYAgABWAAAAgACgAIAAPgAAAIAADgDAAIAAVgAAAIAAoACAAD4AAAAWAIAAVgAAA
	A4AgAHSAAAAGgCAAJoAAACAABIAwACAAJoAAAAaAIAASgAAAAoAgACqAAAACgCAACIAA
	AAKAIAAggAAAAoAoAAiAAAACgCAAIIAAAAKAKAAqgAAAAoAoACqAAAACgCgAHIAAAAWA
	IAAJgAAAAoAoAByAAAAgAAOAKAAgAAmAAAACgCAAHIAAACAAA4AoACAACYAAAAKAIAAI
	gAAAAoAgAAWAMAACgCAAC4AAAAWAIAATgAAAAoAgAAWAMAACgCAAmIAAAA==
	</data>
	<key>bg1</key>
	<data>
	LAAfAIQAAACoCgAAhAAAAJiAAAAdAHmAAAAZAASAAAAaAASAAAAZAAWAAAAaAC6AAAAO
	AL+AAAAZAASAAAAZABOAAAAZAAmAAAAaABaAAAAOABaAAAAOAJOAAAAZADyAAAAeAD2A
	AAAaADSAAAAIAAWAAAAeAFCBAAAZABqAAAAaAAeAAAAZADOAAAA=
	</data>
	<key>bg2</key>
	<data>
	LAAfAAwAAACoCgAADAAAAFSFAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
