<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	GwAlANwBAADOBwAA3AEAACOAIAAKgAAAEYAgAA6AAAALgCAAEIAAAAuAIAAHgAAABYAg
	AASAAAAJgCAABYAAAAuAIAAFgAAABoAgAAOAAAANgCAABYAAAAaAIAADgAAADYAgAAWA
	AAAFgCAABIAAAA2AIAAFgAAABYAgAASAAAANgCAABIAAAAaAIAAEgAAADYAgAASAAAAG
	gCAABIAAAA2AIAAEgAAACIAgAAaAAAAGgCAAB4AAAAiAIAAJgAAAA4AgAAeAAAAIgCAA
	EYAAAAqAIAAOgAAAEoAgAAmAAAASgCAACYAAAA+AIAANgAAADoAgAAaAAAACgCAAB4AA
	AAiAIAAHgAAABYAgAAeAAAAHgCAACIAAAAWAIAAKgAAABIAgAAeAAAAJgCAAB4AAAASA
	IAAHgAAADIAgAASAAAAEgCAABYAAAA6AIAAEgAAABIAgAAWAAAAOgCAABIAAAASAIAAF
	gAAADoAgAASAAAAEgCAABYAAAA6AIAADgAAABoAgAAWAAAANgCAAA4AAAAiAIAAEgAAA
	DIAgAAOAAAAIgCAABIAAAAqAIAAFgAAACIAgAAeAAAACgCAABIAAACAABYAAAAuAIAAP
	gAAADIAgAA+AAAAQgCAACYAAADyAIADvAA==
	</data>
	<key>bg1</key>
	<data>
	GwAlAHwAAADOBwAAfAAAAEOAAAAZAAKAAAAaAB+AAAAZAA2AAAAaAE2AAAAZABCAAAAa
	AGqAAAAZAAuAAAAaAA6AAAAaAGOAAAAYABkAMIAAABoAP4AAABoAQYAAABkAEoAAABkA
	aoAAABoAQYAAABkAKIAAABkAMIAAAAsAW4AAAAAA
	</data>
	<key>bg2</key>
	<data>
	GwAlAAwAAADOBwAADAAAAOeDAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
