<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	LQAoAJwBAAAQDgAAnAEAAGWAAAACgCAAEIAAAAKAIAAZgAAAAoAgABCAAAACgCAAF4AA
	AAKAIAACgCgAAoAgAA6AAAACgCAAF4AAAAKAIAACgCgAAoAgAA6AAAACgCAAGYAAAAKA
	IAArgAAAAoAgAEiAAAACgCAAK4AAAAKAIABBgAAAAoAgAByAAAAEgCAAC4AAAAKAIAAc
	gAAABIAgABSAAAACgCAAK4AAAAKAIAArgAAAAoAgACuAAAACgCAAOYAAAAKAIAAMgAAA
	AoAgAB2AAAACgCAADIAAAAKAIABEgAAAAoAgACuAAAACgCAAHoAAAAKAIAAJgAAAAoAg
	AAKAMAACgCAAHIAAAAKAIAAJgAAAAoAgAAKAMAACgCAACYAAAAKAIAAegAAAAoAgAAuA
	AAACgCAAHoAAAAKAIACigAAAAoAgACuAAAACgCAAKYAAAAKAIAAoADAAAoAgACeAAAAC
	gCAAKAAwAAKAIAApgAAAAoAgABOAAAACgCAAFoAAAAKAIAATgAAAAoAgAGSAAAACgCAA
	K4AAAAKAIABSgAAA
	</data>
	<key>bg1</key>
	<data>
	LQAoAJgAAAAQDgAAmAAAAECAAAAZAD2AAAAZADaAAAAZAIiAAAAYAAyAAAAaADKAAAAZ
	AAqAAAAaAMyAAAAZAEGAAAAZAHaAAAAaAEqAAAAZAEWAAAAaAE6AAAAZAL2AAAAZAAqA
	AAAZAA2AAAAaAM2AAAAaAEGAAAAZABKAAAAZABOAAAAZAAuAAAAIAG6AAAAZAByAAAAa
	AHKAAADzAg==
	</data>
	<key>bg2</key>
	<data>
	LQAoAAwAAAAQDgAADAAAAAiHAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
