<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	IgAhAPwCAADECAAA/AIAACAAIIAwACAAKAAggAAAAoAoACCAAAACgCgAIIAAAAKAKAAg
	gAAAAoAoACCAAAACgCgAA4AAACAABYAwACAAAAAgADAAIAAAACAAAoAwACAAAAAgAAeA
	MAAgAAOAAAACgCgAA4AAACgABYAAACgAAAAoAAaAAAAoAAAAKAAHgAAAKAADgAAAAoAo
	AAOAAAAoAAWAAAAoAAAAKAAGgAAAKAAAACgAB4AAACAAA4AAAAKAKAADgAAAKAAFgAAA
	KAAAACgABoAAACgAAAAoAAuAAAACgCgAA4AAACgABYAAACgAAAAoAAaAAAAoAAAAKAAH
	gAAAIAADgAAAAoAoAAOAAAAoAAWAAAAoAAAAKAAGgAAAKAAAACgAB4AAACgAA4AAAAKA
	KAADgAAAIAAwACAAAAAgADAAIAAAACAABoAwACAAAAAgAAeAMAAgAAOAAAACgCgAIIAA
	AAKAKAAggAAAAoAoACCAAAACgCgAIIAAAAKAKAAggAAAAoAoACCAAAACgCgAA4AAACAA
	BYAwACAAAoAAACAAA4AwACAAAoAAACAAAoAAACAABYAwACAAA4AAAAKAKAADgAAAKAAF
	gAAAKAACgAAAKAAGgAAAKAAIgAAAKAADgAAAAoAoAAOAAAAoAAWAAAAoAAKAAAAoAAaA
	AAAoAAKAAAAgAAWAAAAoAAOAAAACgCgAA4AAACgABYAAACgAAoAAACgABoAAACgAAoAA
	ACgABYAAACgAA4AAAAKAKAADgAAAKAAFgAAAKAACgAAAKAAGgAAAKAACgAAAKAAFgAAA
	KAADgAAAAoAoAAOAAAAoAAWAAAAoAAKAAAAoAAaAAAAoAAKAAAAoAAWAAAAoAAOAAAAC
	gCgAA4AAACAAAoAwACAAAoAAACAAAoAAACAABoAwACAAAoAAACAABYAwACAAA4AAAAKA
	KAAggAAAAoAoACCAAAACgCgAIIAAAAKAKAAggAAAAoAoACCAAAACgCgAIIAAACgAIAAg
	gDAAIADvAA==
	</data>
	<key>bg1</key>
	<data>
	IgAhAGwAAADECAAAbAAAAG2AAAAJAKmAAAAZAA+AAAAZAD2AAAAZAAWAAAAaAFeAAAAd
	AAaAAAAeAAiAAAAdAFaAAAAaAAmAAAAaAJuAAAAZABeAAAAdABOAAAAZAAqAAAAZAHGA
	AAAeAAuAAAAeANyAAAA=
	</data>
	<key>bg2</key>
	<data>
	IgAhAAwAAADECAAADAAAAGKEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
