<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	HgAoAGwEAABgCQAAbAQAAAKAIAAagDAABIAgABqAMAACgCAAAoAoABqAAAAEgCgAGoAA
	AASAKAAagAAABIAoABqAAAAEgCgAGoAAAASAKAAFgAAAAoAgAAWAAAACgCAABYAAAAKA
	IAAFgAAABIAoAAWAAAACgCAABYAAAAKAIAAFgAAAAoAgAAWAAAAEgCgABYAAAAKAKAAF
	gAAAAoAoAAWAAAACgCgABYAAAASAKAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAA
	BIAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAWAAAAEgCgABYAAAAKAKAAFgAAAAoAo
	AAWAAAACgCgABYAAAASAKAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAABIAoAAWA
	AAACgCgABYAAAAKAKAAFgAAAAoAoAAWAAAAEgCgABYAAAAKAKAAFgAAAAoAoAAWAAAAC
	gCgABYAAAASAKAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAABIAoAAWAAAACgCgA
	BYAAAAKAKAAFgAAAAoAoAAWAAAAEgCgABYAAAAKAKAAFgAAAAoAoAAWAAAACgCgABYAA
	AASAKAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAABIAoAAWAAAACgCgABYAAAAKA
	KAAFgAAAAoAoAAWAAAAEgCgABYAAAAKAKAAFgAAAAoAoAAWAAAACgCgABYAAAASAKAAF
	gAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAABIAoAAWAAAACgCgABYAAAAKAKAAFgAAA
	AoAoAAWAAAAEgCgABYAAAAKAKAAFgAAAAoAoAAWAAAACgCgABYAAAASAKAAFgAAAAoAo
	AAWAAAACgCgABYAAAAKAKAAFgAAABIAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAWA
	AAAEgCgABYAAAAKAKAAFgAAAAoAoAAWAAAACgCgABYAAAASAKAAFgAAAAoAoAAWAAAAC
	gCgABYAAAAKAKAAFgAAABIAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAWAAAAEgCgA
	BYAAAAKAKAAFgAAAAoAoAAWAAAACgCgABYAAAASAKAAFgAAAAoAoAAWAAAACgCgABYAA
	AAKAKAAFgAAABIAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAWAAAAEgCgABYAAAAKA
	KAAFgAAAAoAoAAWAAAACgCgABYAAAASAKAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAF
	gAAABIAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAoAAWAAAAEgCgABYAAAAKAKAAFgAAA
	AoAoAAWAAAACgCgABYAAAASAKAAFgAAAAoAoAAWAAAACgCgABYAAAAKAKAAFgAAAAoAo
	AAKAIAAFgDAAAoAgAAWAMAACgCAABYAwAAKAIAAFgDAABIAgAAWAMAACgCAABYAwAAKA
	IAAFgDAAAoAgAAWAMAACgCAA
	</data>
	<key>bg1</key>
	<data>
	HgAoAJwAAABgCQAAnAAAAF+AAAAaAAeAAAAZACaAAAAZAAqAAAAZAAaAAAAZAAOAAAAa
	ACqAAAAaADSAAAAZADSAAAAaACqAAAAZAHSAAAAZABGAAAAaACaAAAAaAA6AAAAZAEmA
	AAAZAG6AAAAZAEyAAAAZAECAAAAZAG6AAAAaABGAAAAZAEKAAAAYAAaAAAAZAAiAAAAI
	AASAAAAaAG6AAAA=
	</data>
	<key>bg2</key>
	<data>
	HgAoAAwAAABgCQAADAAAALCEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
