<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	EQAXAMwAAAAOAwAAzAAAAAKAIAANgDAABIAgAA2AMAACgCAAAoAoAA2AAAAEgCgADYAA
	AASAKAANgAAABIAoAA2AAAAEgCgADYAAAASAKAANgAAABIAoAA2AAAAEgCgADYAAAASA
	KAANgAAABIAoAA2AAAAEgCgADYAAAASAKAANgAAABIAoAA2AAAAEgCgADYAAAASAKAAN
	gAAABIAoAA2AAAAEgCgADYAAAASAKAANgAAABIAoAA2AAAACgCgAAoAgAA2AMAAEgCAA
	DYAwAAKAIAA=
	</data>
	<key>bg1</key>
	<data>
	EQAXAEgAAAAOAwAASAAAAEiAAAAZAAOAAAAaAAOAAAAZAG6AAAAZAAOAAAAaAAOAAAAZ
	AD+AAAAIAC6AAAAZAAOAAAAaAAOAAAAZAEiAAAA=
	</data>
	<key>bg2</key>
	<data>
	EQAXAAwAAAAOAwAADAAAAIeBAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
