<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	KAAbAFgEAABwCAAAWAQAACAAJoAwACAAKAAggAAAIAAAACAAA4AAAAKAKAAggAAAKAAA
	ACgAA4AAAAKAKAAggAAAKAAAACgAA4AAAAKAKAAKgAAAIAAHgDAAIAANgAAAKAAAACgA
	A4AAAAKAKAAKgAAAKAAHgAAAKAANgAAAKAAAACgAA4AAAAKAKAAKgAAAKAAAACAAA4Aw
	ACAAAAAoAA2AAAAoAAAAKAADgAAAAoAoAAqAAAAoAAAAKAADgAAAKAAAACgADYAAACgA
	AAAoAAOAAAACgCgACoAAACgAAAAoAAOAAAAoAAAAIAACgDAAIAAGgDAAIAADgDAAIAAA
	ACgAA4AAAAKAKAAKgAAAKAAAACgAA4AAACgAAAAoAAKAAAAoAAaAAAAoAAOAAAAoAAAA
	KAADgAAAAoAoAAqAAAAoAAAAKAADgAAAKAAAACgAAoAAACgABoAAACgAA4AAACgAAAAo
	AAOAAAAoAAKAIAAJgDAAIAAAACgAA4AAACgAAAAoAAKAAAAoAAAAIAACgDAAIAAAACgA
	A4AAACgAAAAoAAOAAAAoAAAAKAALgAAAKAADgAAAKAAAACgAAoAAACgAAAAoAAKAAAAo
	AAAAKAADgAAAKAAAACgAA4AAACgAAAAoAAAAIAAJgDAAIAADgAAAKAAAACgAAoAAACgA
	AAAoAAKAAAAoAAAAKAADgAAAKAAAACgAA4AAACgAAAAoAAAAKAAFgAAAIAAHgDAAIAAA
	ACgAAoAAACgAAAAoAAKAAAAoAAAAKAADgAAAKAAAACgAA4AAACgAAAAoAAAAKAAFgAAA
	KAAJgAAAKAACgAAAKAAAACgAAoAAACgAAAAoAAOAAAAoAAAAKAADgAAAKAAAACgAAAAo
	AAWAAAAoAAmAAAAoAAKAAAAoAAAAKAACgAAAKAAAACgAA4AAACgAAAAoAAOAAAAoAAAA
	KAAAACgABYAAACgAAAAgAAeAMAAgAAKAAAAoAAAAKAACgAAAKAAAACgAA4AAACgAAAAo
	AAOAAAAoAAAAKAAAACgABYAAACgAAAAoAAqAAAAoAAAAKAACgAAAKAAAACgAA4AAACgA
	AAAoAAOAAAAoAAAAKAAAACgABYAAACgAAAAoAAqAAAAoAAAAKAACgAAAKAAAACAAA4Aw
	ACAAAAAoAAOAAAAoAAAAKAAAACgABYAAACgAAAAoAAqAAAAoAAAAKAACgAAAKAAHgAAA
	KAADgAAAKAAAACgAAAAoAAWAAAAoAAAAKAAKgAAAKAAAACgAAoAAACAAB4AwACAAA4AA
	ACgAAoAgAAAAAoAgAASAAAAoAAAAIAAKgDAAIAAAACgAAoAAACgAC4AAAAKAKAADgAAA
	KAAEgAAAKAAOgAAAKAACgAAAKAALgAAAAoAoAAOAAAAoAASAAAAgAA6AMAAgAAKAMAAg
	AAuAAAACgCgAA4AAACgABIAAACgAHYAAACgAIAADgDAAIAAEgDAAIAAdgDAAIABMAA==
	</data>
	<key>bg1</key>
	<data>
	KAAbAKAAAABwCAAAoAAAAJqAAAAZADmAAAAZAAOAAAAaAAAAGQBxgAAAGgAVgAAAGgAc
	gAAAGQACgAAAGgAAABkAXYAAABkACYAAABkABYAAABoAgYAAABoAFYAAABkAAoAAABoA
	BIAAABkABIAAABoAkoAAABoAEYAAABkAAoAAABoAAoAAABkAX4AAABkABYAAABoABoAA
	ABkAEoAAAAgAdYAAAMsC
	</data>
	<key>bg2</key>
	<data>
	KAAbAAwAAABwCAAADAAAADiEAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
