<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	EwAYANwAAACQAwAA3AAAAAKAIAAPgDAABIAgAA+AMAACgCAAAoAoAA+AAAAEgCgAD4AA
	AASAKAAPgAAABIAoAA+AAAAEgCgAD4AAAASAKAAPgAAABIAoAA+AAAAEgCgAD4AAAASA
	KAAPgAAABIAoAAeAAAAgAAeAAAAEgCgAD4AAAASAKAAPgAAABIAoAA+AAAAEgCgAD4AA
	AASAKAAPgAAABIAoAA+AAAAEgCgAD4AAAASAKAAPgAAABIAoAA+AAAAEgCgAD4AAAAKA
	KAACgCAAD4AwAASAIAAPgDAAAoAgAHBB
	</data>
	<key>bg1</key>
	<data>
	EwAYAFQAAACQAwAAVAAAAHaAAAAZAASAAAAZAASAAAAZACCAAAAaADOAAAAZAAKAAAAa
	AAOAAAAaAAKAAAAZADOAAAAaACCAAAAZAAmAAAAZADOAAAAIAFWAAAA=
	</data>
	<key>bg2</key>
	<data>
	EwAYAAwAAACQAwAADAAAAMiBAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
