<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	UQBAALgDAACAKAAAuAMAAB6ATwAJgE4AA4BNABeATgAQgE0AHoBPAASATgADgE8AAoBO
	AAOATQAXgE4AAoBNAAmATgBTAAOATgBNAB6ATwAEgE4AA4BPAAKATgADgE0AF4BOAAKA
	TQANgE4ATQAZgE8AUwAEgE8ABIBOAAOAUgACgE4AA4BNABeATgBTAE0ADYBOAE0AFIBP
	AAUACYBPAAmATgADgE0AGIBOAE0ADYBOAE0AFIBPAAUACYBPAAmATgADgE0AJoBOAE0A
	FIBPAAUACYBPAAmATgADgE0AGIBOAA+ATQAUgE8ABQAJgE8ACYBOAAOATQAYgE4AD4BN
	ABSATwAFAAmATwAJgE4AA4BNABiATgAPgE0ABIBPAAOAUgAHgE8AA4BSAAeATwADgFIA
	A4BPAAmATgADgE0AGIBOAA+ATQATgE8ABQAKgE8ACYBOAAOATQAYgE4AD4BNABOATwAF
	AAqATwAJgE4AA4BNABiATgAPgE0AE4BPAAUACoBPAAmATgADgFIAGIBOAAqAUQAFgE0A
	E4BPAAUACoBPAAmATgADgFIAGIBOAA+ATQATgE8ABQAKgE8ACYBOAAOAUgAkgE4AA4BN
	ABOATwAFAAqATwAJgE4AA4BNACSATgADgE0AE4BPAAUACoBPAAmATgADgE0AIYBOAFUA
	AoBOAAOATQATgE8ABQAKgE8ACYBOAAOATQAkgE4AA4BNAA6ATwADgFIAB4BPAAOAUgAD
	gE8ACYBOAAOATQAkgE4ALYBNACSATgAtgE0AJIBOAC2ATQAkgE4ALYBNACSATgAtgE0A
	AoBOAFUAIYBOAC2ATQAkgE4ALYBNACSATgBBgE0AEIBOAEGATQAQgE4AQYBNABCATgAp
	gE0AVQAXgE0AEIBOAByATQBTACSATQAQgE4AQYBNABCATgBBgE0AEIBOAEGATQAQgE4A
	CoBNAFEANoBNABCATgAKgE0AUQBBgE0AA4BSAAyATQBRAEGATQADgFIADIBNAFEAA4BN
	AAOAUQA7gE0AA4BSAAyATQBRAFCATQBRAPqATQBVAOOATQAfgE4AMoBNAB+ATgAygE0A
	H4BOADKATQAfgE4AMoBNAB+ATgAygE0AH4BOAA6ATQBTACOATQAfgE4AMoBNAB+ATgAy
	gE0AH4BOADKATQAfgE4AMoBNAB+ATgAygE0AH4BOADKATQAfgE4AMoBNAB+ATgAygE0A
	H4BOADKATQAfgE4AMoBNAB+ATgAygE0AH4BOADKATQAfgE4AMoBNALGh
	</data>
	<key>bg1</key>
	<data>
	UQBAAMwTAACAKAAAzBMAACeABQADgAYAFIACABSABQADgDYABoAAAAUACYAAAAuABQAg
	AAAAAwAAABoAAAADACEAA4AGABSAAgAOgAUAIgAFgAUAA4A2AASAAAA5AAAABQAHgAAA
	OQAAAAuABQACgAAAMwADgAAAMwAAAAOABgAUgAIACIAFAASAAAACgC4AAoAAACAAA4AF
	AAKAAAADAAOAAAADAAKAAAAFAAKAAAADAAOAAAADAAKAAAAFgAUAJAAFgAUACIAAAAOA
	BgAJgAIAIgAAACAACIACAAOABQAAAASABQAFgAAALgADgAAAIAACgAUAIgAhAAAALgAA
	AC4AB4AAAAOANgAHgAAAAwAAAAMAA4AAAAUACIAAAAOABgAFgAIACYAAAC4ABYACACAA
	AAADAAAAAwAEgAAAJgACgAAAJgACgC4AJgACgAAAAoAFACIAIQAAAC4AAAAuAAeAAAAD
	gDYABoAAAAMAA4AAAAMAAoAAAAUAA4AAAAOALgACgAAAA4AGAAOAAgAuAAKAMgAFgAAA
	A4AyAAAABYACABKAAAACgAUAAoAAAAMAA4AAAAMAAoAAAAUAAoAAAAMAA4AAAAMADIAA
	AAUAA4AAAAOALgACgAAAA4AGAAKAAgAAAAKAMgAuAAKAAAACgAIAAAADgDIAAAAFgAIA
	BIAAAA+ABgAFAAOANgAGgAAABQAMgAAAAwADgAAAAwACgAAABQADgAAAA4AuAAKAAAAD
	gAYAAgACgAAAAoAyAAAALgAEgAIALgADgAAABYACAASAAAAPgAYABQADgDYABYAAACAA
	BQAgABKAAAAFAAiAAAADgAYAIAAFgAAABoACAAOAAAAFgAIABIAuAA+ABgAEgAUAA4AA
	AAeABQADgAAAB4AFAAOAAAAIgAUAIwADgAUAA4AGAAWAAAAHgAIAA4AAAAWAAgAEgAAA
	D4AGAAUAIAAHgAAAIAAFACAACIAAAAUAIAAHgAAAIAAFACAAB4AAAAOABgAIgAAAA4AC
	AAWAAAAEgAIABIAAAA+ABgAFAAmAAAAFAAmAAAAFAAKAAAADAAOAAAADAAKAAAAFAAOA
	AAADgAQAAoAAAAOABgACgAAAAgACgAAAAgACgAAAA4ACAAWAAAAFgAIAA4AAAA+ABgAF
	AAKAAAADAAOAAAADAAKAAAAFAAKAAAADAAOAAAADAAKAAAAFAAmAAAAFAA2AAAADgDIA
	A4AAAAOAAgACgDIAAgADgAAABIACAAuAAAAiACEABYAGAAUAA4AAAAOANgAHgAAAA4A2
	AASAAAAuAAAAAwADgDYAAwAAAC4ABQAAAAKAMwAKgAAAA4AyAAOAAAACgAIAIAACgDIA
	AgACgDIAAAAEgAIAA4AAAA+ABgAFAAOAAAADgDYAB4AAAAOANgAGgAAAAwADgDYAAwAC
	gAAABQAAAAKAMwAKgAAAA4AyAAOAAAACgAIAAAACgDIAAgACgDIAAAAEgAIADoAAACAA
	A4AGAAUAAoAAAAMAA4AAAAMAAoAAAAUAAoAAAAMAA4AAAAMAAoAAAAUAA4AAAAOANgAD
	gAAABQAIgAAAA4AGAAKAAAACAAKAAAACAAKAAAACgAIAB4AAAASAAgAKgAAAA4AwAAKA
	AAADgAYABQAAADkAB4AAAAUAA4AAAAOANgADgAAABQACgAAAAwADgAAAAwACgAAABQAD
	gAAAA4AEAAKAAAADgAYAB4AAACAAA4ACAAKAAAAuAAKAAAAFgAIACoAAAAOAMAAAAAIA
	A4AGAAUAIQAHgAAAIQAFAAOAAAADgDYAA4AAAAUACYAAAAUAIgAHgAAAA4AGAAyAAgAD
	gAAAB4ACAAOAAAAFgAIAAAADgDAAAAACAAOABgAOgAUAA4AAAAeABQADgAAAB4AFAAWA
	AAADgAYADIACAAAALgAAAAeAAgADgAAABoACAAOAAAACgAIAA4AGAAUAIAADgAAAGAAD
	gAAAIgAFAAQACIAAAAUABAAHgAAABAAFACAAB4AAAAOABgADgAIAIQAIgAIAA4AAAAeA
	AgADgAAABoACAAOAAAACgAIAA4AGAAUAAAACAAKAAAACAAKAAAACAAAABQAEAAiAAAAF
	AAAABAAAACYAAAAmAAAABAAAAAUACIAAAAOABgACgCAAAoAAAAeAAgAAADAABIAAAAOA
	AgAgAAWAAAAiAASAAgAuAAAALgACgAIAA4AGAAUAAoAAAAKANwAAAAKANwACgAAABQAC
	gAQAAAAuAAAALgADgAAABQACgAAABAAAAAQAAAAEAAKAAAAFAAiAAAADgAYAB4AAAAOA
	AgADgAAAMAAAADAAAAADgAIAAAACAAOALgACAAAABYACAAKAAAACgAIAA4AGAAUAAoAA
	AAKANwAAAAKANwACgAAABQACgAQABYAAADcAAAAFAAOAAAADgC8ABoAAAC4AA4AvAAKA
	AAADgAYAAoAAADQACIAAADAAAAACgAIAAAAwAAWAAAADgC4AAoAAAAWAAgADgAAAAgAD
	gAYABQAAAAIAAoA3AAIAAoA3AAIAAAAFAAKABAAAAC4AAAAuAAOAAAAFAAOAAAADgC8A
	BoAAAC4AA4AvAAKAAAADgAYAAAA0ACUANAAJgAAAAoACAAeAAAADgC4AAoAAAAWAAgAA
	AC4AAAACAAOABgAFAAmAAAAFAAQAB4AAAAQABQAAAAQAAAADgC8AAAAEAAAABQADgAAA
	A4AvAAKAAAADgAYAAoAAADQACIAAADAAAAAwAAKAAAAwAASAAAACAAOAAAACAAAABIAC
	AASAAAACAAOABgAFAAmAAAAFAAAANwACgAAANwADgAAABAAFAAAAAoAEAAOAAAACgAQA
	AAAFAAiAAAADgAYAEIAAADAACoAAAASAAgAFgAAAA4AGAAUAAAACAAWAAAACAAAABQAI
	gAAABAAFACAACIAAAAUACIAAABeABgAEgAAABYACACEABoAAAAOABgAFgAUAAAAFgAUA
	B4AAAAKABAAOgAUABYAAABeABgAEgAAABoACAAWAAAACAAOABgAFAAOAAAA3AAyAAAAD
	gAQADoAFAAWAAAAXgAYAAAADgDAABoACACAABIAAAAIAA4AGAAUAB4AAADcABYAAADcA
	AoAAAAOABAAOgAUABIAAACUAFIAAAAOABgAAAAOAMAADgAAAA4ACAAWAAAACAAOABgAF
	AAAAJgAAACYAAAAmAAAAJgAAACYAB4AAAAKABAAFgAUAJAAIgAUAA4AtAAeAAAADgDAA
	CIAAAAOALgAAAAOABgAAAAOAMAADgAAAA4ACAAWAAAACAAOABgAFAAOAAAA3AAqAAAA3
	AAOAAAAEAAUABAACgAAAAwAAAAMAAoAAAAQABIAFAAOALQAGgAAALgADgDAALgALgAAA
	A4AGAAAABYACAASAAAADgDAAAAAuAAAAA4AGAAUAEoAAAAQABQAJgAAABIAFAAOALQAH
	gAAAA4AwAAiAAAADgC8AAAADgAYAAAAFgAIABIAAAAOAMAADgAAAA4AGAAUABYAAAAiA
	BgADgAAANwAAAAQABQAEgAAAGQAEgAAABYAFACMABYAFAAKABAACgAAAJgACgAAAAoAE
	AASABQAAAAOALwAAAAOABgAKgAAAA4AwAAAALgAAAAOABgAFADcABIAAAAYAIQAGgAYA
	BoAAAAUACYAAAASABQADgAAABIAFACIAAoAAACYAGAAmAAKAAAAiAAKABQAhACQAAAAD
	gC8AAAADgAYAD4AAAAIAA4AGAAUABYAAAAYAAAAGgAYABoAAAAUABAAHgAAABAAEgAUA
	A4AAAASABQAgAAOAAAAmAAOAAAAgAAKABQAhACQABYAAAA6ABgADgAAABYAGAAUABAAE
	gAAABgAAAAaABgACgAAANwADgAAABYAFACMACIAFAAOAAAARgAUABYAAAA6ABgADgAAA
	BYAGAAUABAAEgAAABgAAAAOABgAiAAiAAAAFAAOABAACgAAABQADgAQAE4AAACAABIAF
	AAWAAAAOgAYAA4AAAAWABgAFAAKABAADgAAABgAAAAaABgACgAAANwADgAAABQAEAASA
	AAAFAAKABAADgAAAMQAAAAOANAAAADEAA4AAAAQAAoAAADEAAoAAAAQAAAAEgAUAF4AA
	ACAAA4AGAAUAAoAEAAAANwAAAAYAAAAGgAYABoAAAAUABAAAAAKAOQAAAAUABAAGgAAA
	A4A0AA2AAAAEgAUAAoAAACYABoAAAC4AA4AvAC4ABYAAAAOALwACgAAAA4AGAAUAAoAE
	ABGAAAAFAAQABIA5ACQAIAACgAAABYAEACIABYAEAAAAMQAAADQABAA0AAAAMQAAAASA
	BQAAACYAGAAmAAaAAAADgC8ABoAAAAOALwACgAAAA4AGAAUAAoAEABSAAAACgDkAAAAk
	ACAAAoAAAAWABAAhAAWABAADgAAABAAhAAQAA4AAAASABQACgAAAJgAHgAAAA4AvAAWA
	AAAuAAOALwACgAAAA4AGAAUAAoAEADcABIAAADcAAoAAACYAAAAmAAAAJgAGgAAALgAD
	gAAABQAEAAaAAAAiADEAIgAHgAAANAAmADQAA4AAAASABQADgAAAB4AFAAOAAAAEgAUA
	B4AAAAOABgAFAAOABAACgAAANwAKgAAANwAHgAAALgAFAAKABAADgAAAMQAFgAAAMQAD
	gAAABAAFgAAABAAAAASABQADgAAAB4AFAAOAAAAFgAUAAAAuAASAAAADgAYABQADgAQA
	FYAAACAABQADgAQAD4AAADEABIAAAASABQADgAAAB4AFACIAAAAiAAWABQAGgAAAA4AG
	AASAAgADgAAAB4ACAAOAAAAOgAIABIAFACMAEoAFAAOAAAAIgAUAIwAGgAUABoAAAAOA
	BgADgAIAOAAFgAAAOAACAAmAAAACgAIAIgADgAAABYACAAmAAAALgAUACIAAACAABQAg
	AAeAAAAYAAKABQAGgAAAA4AGAAOAAgAAAAIAAAACAAAAAgAAAAIAAAACgDgAA4AAAAKA
	OAAAAAKAAgAAAAIABIAAAAOAAgACgAAABAADgAAABAACgAAAC4AFAAAABAAAAAQALQAE
	AAAABAAAAAUABIAAADQABIAAAAKABQAGgAAAA4AGAAOAAgACgAAAOAAAADgAAoAAAAIA
	CYAAAAKAAgAAAAIAAAACgDQAA4AAAAIAA4AAAC0AAAAtAAOAAAAEgAUAHAAdAB4ABIAF
	AAmAAAAFAAKAAAAFgAYAAoAAAAUAAoAAAAOALQACgAAAA4AGAAOAAgAAAAIAIAACACAA
	AgAEgAAABYACAAKAAAACgAIAIAACgAAAAoA0AAaAAAAEAAOALQAEAAKAAAAEgAUAFgAF
	ABcABIAFAAAALQAEAC0ABAAtAAQALQAEgAAABYAGAAKAAAAFAAKAAAADgC0AAoAAAAOA
	BgADgAIAAoAAADgAAAA4AAWAAAAFgAIAAoAAAAKAAgAgAAKAAAACgDQABoAAAAQAA4At
	AAQAAoAAAAWABQAAAAWABQAAAC0ABAAtAAQALQAEAC0ABIAAAAWABgACgAAABQACgAAA
	A4AtAAKAAAADgAYAA4ACAAAAAgAAAAIAAAACAAAAAgAJgAAAAoACAAAAAgAAAAKANAAD
	gAAAAgAEgAAALQAIgAAAAwAAAAMADYAAAAUAAoAAAAWABgACgAAABQAgAAaAAAADgAYA
	A4ACAAeAAAACAAAAAoA4AAOAAAACgDgAAAACgAIAAAACAAWAAAACgAIAAoAAAAQAA4AA
	AAQADoAAAAQAAAAEAC0ABAAAAAQAAAAFAASAAAA0AASAAAACgAUABoAAAAOABgADgAIA
	OAAEgAAAOAAAAAIACIAAACAAAoACACIABIAAAASAAgAgAByAAAAFAAmAAAACgAUABoAA
	AAOABgAEgAIAA4AAAAeAAgADgAAADoACAAOABQADgAAAB4AFAAOAAAARgAUAA4AAAAWA
	BQAGgAAAA4AGAAOAAgARgAAAAgADgAAAOAAAADgAAoAAACAAAgAIgAAAIAAEgAUABYAA
	ACAABYAFACAAIgAYAAWABQAFgAAAIAADgAUABoAAAAOABgADgAIAAAACAAKAAAACAAKA
	AAACAAKAAAACAAKAOAACAAOAAAACAAAAOAAFgAAAOAAAAAIACYAAAAUAAoAiAAUABoAA
	AAUAAAACgAUAGIAAAAOABgADgAIAAAA4AAKAAAA4AAWAAAA4ACIAIAA4AAOAAAACAAOA
	AAADgAIAAAAhACIAAgACgAAABAADgC0ABAACgAAABQACgCQABQAGgAAABQADgAAAA4Au
	AAeAAAADgC4ABoAAAAOALgACgAAAA4AGAAOAAgAAADgAAoAAADgABYAAADgAIAAhADgA
	B4AAAAOAAgAAACEAIgACAAKAAAAtAAOAAAAtABCAAAADgC4AB4AAAAOALgAGgAAALgAw
	AC4AAoAAAAOABgADgAIAAAACAAKAAAACAAKAAAACAAKAAAACAAKAOAACAAWAAAA4AAWA
	AAA4AAAAAgACgAAALQADgAAALQAHgAAALAAIgAAAA4AuAAeAAAADgC4ABoAAAAOALgAC
	gAAAA4AGAAOAAgAgAAAAIgAhAA2AAAACAAOAAAA4AAAAOAADgAAAAgACgAAABAADgC0A
	BAACgAAABQAJgAAABQAagAAAIgADgAYAH4ACAAmAAAAFAAmAAAAFAB6ABgAfgAIACYAA
	AAUACYAAAAUAHoAGAB+AAgAUgAUAHoAGALGh
	</data>
	<key>bg2</key>
	<data>
	UQBAAEwSAACAKAAATBIAABWABwAngAEAFYAIAAcAAoAiAAeAAAAHACAABYAAAAOAOwAH
	ADsAB4AAADsAAQAhAAMAAoAAACcAAoAAAAMAIgABAAOANwAGgAAAAQADgAAAA4A1AAOA
	AAAIADsAB4AAADsACAAbAASAAABVAAOAAAAIAAcAA4AAAAOAOwADgAAABwAGgAAAOwA8
	ADsABwAJgAAAAQAAAAMAAAAnAB0AJwAAAAMAAAABAAOANwAGgAAAAQADgAAANQAWADUA
	A4AAAAgACYAAAAgACYAAAAgABwADgAAAOwAYADsAA4AAAAcABoAAAAOAOwAHAASAAABV
	AASAAAABAAAAAwACgAAAJwACgAAAAwAAAAEAA4A3AAaAAAABAAOAAAADgDUAA4AAAAgA
	BIAAAFUABIAAAAuACAAHAAOAAAADgDsADYAAAAcACYAAAAEAAAADAAKAAABDAAKAAAAD
	AAAAAQATgAAACAASgAAAIAAIAAcAE4AAAAcACYAAAAEAAAADgAMAAAADgAMAAAABABOA
	AAAIAA2AAAADgDEAA4AAAAgABwAJgAAABwAJgAAABwAJgAAAAQAJgAAAAQAJgAAAAQAJ
	gAAACAAJgAAACAADgAAAA4AxAAOAAAAIAAcACYAAAAcACYAAAAcACYAAAAEACYAAAAEA
	CYAAAAEACYAAAAgACYAAAAgAA4AAAAOAMQADgAAACAAHACAACIAAAAcACIAAACIABwA7
	AAeAAAA7AAEACYAAAAEACIAAACAAAQAgAAiAAAAIADsAA4AAACAAA4AAADsACAAIgAAA
	IgAIAA6ABwADgAAABIAHAASAAQAAAAmAAQAjAAmAAQAAAAmAAQAAAASAAQAPgAgAAAAF
	gAgABwAhAAMAAoAAACcAAoAAAAMAIgAHAAmAAAAHAAmAAAAEgAEAA4A5AASAAQAIgAAA
	IAABAAaAAAADgDcACAAhAAMAAoAAACcAAoAAAAMAIgAIAAmAAAAIAAcAAAADAAAAJwAc
	ACcAAAADAAAABwAJgAAABwAJgAAABIABAAOAOQAEgAEACYAAAAEABoAAAAOANwAIAAAA
	AwAAACcAHgAnAAAAAwAAAAgAA4AAAAOACAADgAAACAAHAAAAAwACgAAAJwACgAAAAwAA
	AAcACYAAAAcAAoAAAAWANgACgAAABIABAAOAOQAEgAEAA4A5AAaAAAABAAaAAAADgDcA
	CAAAAAMAAoAAACcAAoAAAAMAAAAIAAOAAAAIACIACAADgAAACAAHAAAAAwACgAAARAAC
	gAAAAwAAAAcAA4AAAAOAOwADgAAABwACgAAANgAiACAAIgA2AAKAAAABAAqAAAADgDkA
	BoAAAAEABIAAACAABIAAAAgAAAADAAKAAABCAAKAAAADAAAACAAAADEAAAAIAAAACAAA
	ADEAAAAIAAcAAAADgAMAAAADgAMAAAAHAAOAAAADgDsAA4AAAAcAAoAAAAWANgACgAAA
	AQAKgAAAA4A5AAOAAAADgDcAAQAJgAAACAAAAAOAAwAAAAOAAwAAAAgAMQAAADEACAAA
	AAgAMQAAADEACAAHAAmAAAAHAAOAAAADgDsAA4AAAAcACYAAAAEACYAAAAEABoAAAAOA
	NwABAAmAAAAIAAmAAAAIAAAAMQAAAAgAAAAIAAAAMQAAAAgABwAJgAAABwAJgAAABwAJ
	gAAAAQAJgAAAAQAGgAAAA4A3AAEACYAAAAgACYAAAAgAA4AAAAgAVQAIAAOAAAAIAAcA
	CYAAAAcACIAAACIABwAJgAAAAQAgAAiAAAABAAmAAAABAAmAAAAIAAmAAAAIAAOAAAAD
	gAgAAAAgAAAACAAFgAcAIwAIgAcAA4AAAASABwAEgAEAAAAdgAEAAAAEgAEABYAIACMA
	B4AIAAWAAAADgAgABIAHAAOAPAAEgAcAAoAAAAWAOwACgAAABwAIgAAAIAABAAaAAAA2
	ADcANgABAAKAAAABAAiAPgABAAWAAAACgDYABIAIADMAGAAzAASACAAJgAAACAAEgAcA
	A4A8AASABwADgAAAA4A7AAOAAAAHAAmAAAABAAaAAAA3ADYANwABAAKAAAABAD4AFwAG
	gD4AAQAFgAAAAoA2AASACAADgDMABIAIAAAAMQAIAAOAAAAIADEAAAAIAASABwADgDwA
	BIAHAAmAAAAHAAmAAAABAASAAAAgAAAANgA3ADYAAQACgAAAAQAIgD4AAQAAAAOANgAD
	gAAABIAIAAOAMwAEgAgAAAAxAAWAAAAxAAAACAAHAAiAAAAgAAcABIAAACAABIAAAAcA
	FoAAAAEAB4ADADUAAQAAAAOANgADgAAACAAJgAAACAAAADEAAAADgDIAAAAxAAAACAAH
	AAmAAAAHAAmAAAAHABaAAAABAFUAB4AAAAEAAAADgDYAA4AAAAgACYAAAAgAAAAxAAWA
	AAAxAAAACAAHAAmAAAAHAAmAAAAHAAOANgAGgAAAAQAJgAAAAQACgAAACoABAAeAAAAI
	AAmAAAAIAAAAMQAFgAAAMQAAAAgABwAJgAAABwAEgAAAIgAEgAAABwADgDYABoAAAAEA
	CYAAAAEAE4AAAAgACYAAAAgAAAAxAAgAAAAgAAAACAAxAAAACAAHAAmAAAAHAAmAAAAH
	ACIAAoA2AAaAAAABAAmAAAABABKAAAAgAAgACYAAAAgACYAAAAgABIAHAAOAOwAHgAcA
	A4AAAASABwATgAEAC4ADAASAAQAAAASAAQAFgAgAAAAJgAgAAAAFgAgABwAiAAKAOgAF
	gAAAIAAHAAiAAAAgAAcAA4AAAAOAIQADgAAAAQAJgAAAAwAAAAeAAwAAAAMACYAAAAgA
	IQAEgAAAA4AzAAAACAAJgAAACAAHAAOAOgAGgAAABwAJgAAABwAJgAAAAQAHgAAAVQAA
	AAMAAAADAAWAAAADAAAAAwAJgAAACAAFgAAAMwAiADMAAAAIAAmAAAAIAAcAA4A6AAaA
	AAAHAAKAAAA7AAOAAAA7AAKAAAAHAASAAABVAASAAAABAAmAAAADAAAAAwAFgAAAAwAA
	AAMACYAAAAgABYAAAAOAMwAAAAgABIAAACAABIAAAAgABwATgAAABwAJgAAAAQAJgAAA
	AwAAAAMAAoAAAB8AAoAAAAMAAAADAAmAAAAIAAmAAAAIAAmAAAAIAAcAE4AAAAcACYAA
	AAEACYAAAAMAAAADAAWAAAADAAAAAwADgAAAA4A3AAOAAAAIAAmAAAAIAAmAAAAIAAcA
	CYAAAAcABoAAAAOAOgAHAAOAAAADgCAAA4AAAAEAA4AAAAOAIAADgAAAAwAAAAMABYAA
	AAMAAAADAAOAAAA3ABgANwADgAAACAAJgAAACAAJgAAACAAHAAmAAAAHAAaAAAADgDoA
	BwADgAAAA4AgAAOAAAABAAOAAAADgCAAA4AAAAMACYAAAAMAA4AAAAOANwADgAAACAAJ
	gAAACAAJgAAACAAHAAmAAAAHAAaAAAADgDoABwADgAAAA4AgAAOAAAABAAOAAAADgCAA
	A4AAAAMACYAAAAMACYAAAAgAIAAIgAAACAAJgAAACAAEgAcAA4AAAA2ABwAZgAMAAAAP
	gAMABIAIAAAACYAIAAAABYAIAAcAIAAFgAAAA4A6AAcAOwACgAAAIgAgACIAAoAAADsA
	AwADgEAABYAAACAAAwADgD8ABYAAACAABYADAAAABYADAAKAIgAEgAAAA4A/AAMAIgAC
	gDMABYAAACAACAAJgAAACAAHAAaAAAA6ACIAOgAHAAmAAAADAAOAQAAGgAAAAwADgD8A
	BoAAAAMAAAADgAMAQQADgAMAAAADAAaAAAADgD8AAwADgDMABoAAAAgAAAAIAAWAAAAI
	AAAACAAHAAaAAAADgDoABwAJgAAAAwADgEAABoAAAAMAA4A/AAOAPAADgAAAAwACgAAA
	AwA7AAAAOwADAAKAAAADAAOAAAADgDwAA4A/AAMAA4AzAAaAAAAIAAmAAAAIAAcACYAA
	AAcACYAAAAMADYAAAAOAPAARgAAAA4A8AAOAAAADAAmAAAAIAAKAAAAFgDIAAoAAAAgA
	BwAJgAAABwAJgAAAAwANgAAAA4A8AAeAAAADAAAAAwAHgAAAA4A8AAOAAAADAAmAAAAI
	AAmAAAAIAAcACYAAAAcABIAAAFUABIAAAAMAA4A/AAaAAAADAAmAAAADAAmAAAADAAmA
	AAADAAmAAAAIAAKAAAAFgDIAAoAAAAgABwAJgAAABwAJgAAAAwADgD8ABoAAAAMACYAA
	AAMAA4AAAAMAAAADAAOAAAADAAmAAAADAAmAAAAIAAAACAAFgAAACAAAAAgABwAiAAiA
	AAAHADsAB4AAADsAAwADgD8ABoAAAAMACYAAAAMACYAAAAMACIAAACAAAwAJgAAACAAJ
	gAAACAAEgAcAA4AAAAeABwADgAAAA4AHAASAAwADgAAAB4ADAAOAAAAIgAMAAAAIgAMA
	A4AAAASAAwAEgAgAAAAJgAgAAAAFgAgABwADgDoABoAAAAcACIAAACAAAwAJgAAAAwAC
	gCIABIAAAAOAPQADACcAB4AAACcAAwAIgAAAIAADAAaAAAADgDIACAAyAAeAAAAyAAgA
	BwADgDoABoAAAAcACYAAAAMACYAAAAMAAoAiAASAAAADgD0AAwAnAAKAAAA7AAAAOwAC
	gAAAJwADAAmAAAADAAaAAAAyADMAMgAIAASAAAAgAASAAAAIAAcAA4A6AAAAIAAEgAAA
	BwAJgAAAAwAEgAAAIAAEgAAAAwAEgAAAIAAAAAOAPQADACcAB4AAACcAAwAJgAAAAwAE
	gAAAIAAAAAOAMgAIAAmAAAAIAAcACYAAAAcAA4AAAAOAOQADgAAAAwATgAAAAwAnAAKA
	AAA7AAAAOwACgAAAJwADAAOAAAADgDwAA4AAAAMACYAAAAgAAAADAAAAA4AyAAAAAwAA
	AAgABwAJgAAABwADgAAAA4A5AAOAAAADABOAAAADACcAA4AAAFUAA4AAACcAAwADgAAA
	A4A8AAOAAAADAAmAAAAIAAOAAAADgDIAA4AAAAgABwAJgAAABwADgAAAA4A5AAOAAAAD
	AAOAQAAGgAAAAwADgD4ABoAAAAMAJwACgAAAOwAAADsAAoAAACcAAwADgAAAA4A8AAOA
	PgADAAmAAAAIAAOAAAAhAAAAIgADgAAACAAHAAmAAAAHAAmAAAADAAOAQAAGgAAAAwAD
	gD4ABoAAAAMAJwAHgAAAJwADAAaAAAADgD4AAwAJgAAACAAJgAAACAAHAAmAAAAHAAmA
	AAADAAOAQAAGgAAAAwADgD4ABoAAAAMACYAnAAMABoAAAAOAPgADAAmAAAAIADIAB4AA
	ADIACAAEgAcAA4AAAAeABwADgAAAA4AHAASAAwADgAAAB4ADAAOAAAAEgAMACIAnAAWA
	AwADgAAABIADAASACAAAAAmACAAAAAWACAAHAAmAAAAHAAOAOQAGgAAAAwAgAAiAAAAD
	AAmAAAADAAOAPQADgAAAA4A/AAMAA4A/AAWAAAAgAAMAA4AyAAWAAAAhAAgAIQAIgAAA
	CAAHAAmAAAAHAAOAOQAGgAAAAwAJgAAAAwAJgAAAAwADgD0AA4AAAAOAPwADAAOAPwAG
	gAAAAwADgDIABoAAAAgACYAAAAgABwAJgAAABwADgDkABoAAAAMACYAAAAMACYAAAAMA
	A4A9AAOAAAADgD8AAwADgD8ABoAAAAMAA4AyAAaAAAAIAAmAAAAIAAcABIAAACAADoAA
	AAMACYAAAAMAA4AAAAOAPAARgAAAA4AiAAOAAAADAA6AAAAiAASAAAAIAAcADoAAADoA
	BIAAAAMACYAAAAMAA4AAAAOAPAAXgAAAAwATgAAACAAHAAaAAAADgDkABwAJgAAAAwAC
	gAAABYBAAAKAAAADAAOAPQADgDwAA4AAAAMABoAAAAOAPgADAAaAAAADgD0AAwAJgAAA
	CAAGgAAAA4AyAAgABwAiAAWAAAADgDkABwAJgAAAAwACgCIABYBAAAKAIgADAAOAPQAG
	gAAAAwAGgAAAA4A+AAMABoAAAAOAPQADAAmAAAAIAAaAAAADgDIACAAHACIABYAAAAOA
	OQAHAAOAAAADgCIAAoAAACAAAwACgCIABYBAAAKAIgADAAOAPQAFgAAAIAADACAABYAA
	AAOAPgADAAaAAAADgD0AAwAiAAeAAAAgAAgAIAAFgAAAA4AyAAgAFIAHACmAAwAUgAgA
	</data>
	<key>event</key>
	<array>
		<dict>
			<key>epx</key>
			<real>80</real>
			<key>epy</key>
			<real>18</real>
			<key>name</key>
			<string>test</string>
			<key>select</key>
			<string></string>
			<key>spx</key>
			<real>70</real>
			<key>spy</key>
			<real>9</real>
		</dict>
	</array>
</dict>
</plist>
