<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg0</key>
	<data>
	MQAUAAwAAACoBwAADAAAANSDAAA=
	</data>
	<key>bg1</key>
	<data>
	MQAUAJgDAACoBwAAmAMAAGSAAQAsAAWAAAAtAAEAAAAxAAuAAAAgAAiAAQAgAAOAAQAY
	AAKAAQAHgAAAGAAEgAEAAAACAAAAAgAAAAIAAAAHgAEAAAAtAAuAAAABAAKAAAA7AAEA
	AAAyACYABYAAAAOAAQAAAAWAAQACgAAALQAgAC0AAoAAACMACYAAAC0ABIAAAAEABoAA
	ADIABoAAADIAA4AAAAEAIAACgAAABYABAAKAAAACAAAAAgACgAAAB4ABAAiAAAAbgAEA
	AAAtAAOAAAAtAAAAAQACgAAAMQAEgAAAMQAGgAAAAQAbAAAAIAABACcAHgACgAAANgAG
	gAAACIADAAmAAQAAAAEABYAAADEACIAAAAEAA4AAAAEAAwACgAAANgAAADYABYAAAAKA
	IwACgAAAQAACgAAAAwADgAEAGAACgAAALQAAAC0AAAABAAOAAAAtAAaAAAAtAAKAAAAg
	AAEAA4AAAAEADYADAAAAAwAAAAMAAAADAAyAAQAjAA2AAQADgAAAAQAEgAAANgAEgAAA
	NgACgAAAAwAFgAAAAwADgAEABoAAADEAA4AAAAWAAQAWAAKAAQAIgAAAAQACgDYAAwAA
	AAeAAwAAAAOAAwAjAAOAAwADgAEAAAAyAAKAAAAmAAOAAAAyAAAABIABAAAAJgACgAAA
	LQAHgAAAAQAYAAAAAwAAAAMANgAAADYAAoAAAAMAB4AAAAMAA4ABAAOAAAAmABwAJgAE
	gAAAAoABAAOAAAACAAaAAAACgAIAAoAAAAEAA4ADAAAAAwAAAAOAAwAjAAOAAwAFgAAA
	AwADgAEAAAACAAKAAAAmAAAAMgACAAKAAAABAAKAAAAyAAOAAAACAAAALQACgAAAAoAC
	AAKAAAABAAAANgACgAAAAwAAAAMAAAADAAAAAwAAAAMABYAAAAMAA4ABAAKAAAAxAAeA
	AAABAAKAAAACAAaAAAACAAAAA4ACAAAAAQAAAASAAwA2AAMABYAAAAMAAoAAADsAAoAA
	AAMACIABAAKAAAAEgAEAA4AAADIAAoAAAASAAgACgAAAGAACAAAAAQACgAAANgADgAAA
	A4ADAAAAA4ADAAAAOwAYADsAAAADAAKAAQAAACYADIAAAAiAAgADgAAAAgAAAAqAAQAA
	AAyAAQAXAAOAAQAgAAOAAAAEgAEABIACAB0AAAA7AAOAAAADgAIAEoAAAAKAIAAOgAEA
	HoACADiAAQAAAA==
	</data>
	<key>bg2</key>
	<data>
	MQAUAAwAAACoBwAADAAAANSDAAA=
	</data>
	<key>event</key>
	<array/>
</dict>
</plist>
