@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 0.90em;
	color: #444444;
	line-height: 1.44em;
	font-family: sans-serif;
	text-align: left
	background-color: #ffffff;
}

div#container {
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

div#header {
	height: 4px;
	background-color: #ffffff;
	padding: 0;
	margin: 0px;
}

div#content {
	padding: 0px 4px 4px;
	margin: 0px;
	background-color: #ffffff;
}

div#footer {
	height: 18px;
	background-color: #ffffff;
	padding: 0;
	margin: 0px;
}

img.titleImage {
	margin: 0px;
	margin-left: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 1.0em;
	padding: 0px;
	background-color: #ffffff;
	float: left;
	border : 1px solid #000000;
}

p.titleText {
	background-position: left top;
	line-height: 32px;
	font-weight: bold;
	font-size: 18px;
	margin: 5px;
	padding: 0em;
	padding-left: 0em;
	background-color: #ffffff;
}

p.titleDescription {
	font-size: 1.00em;
	margin: 0px;
	padding: 0.0em 1.0em 1.5em 1.0em;
	background-color: #ffffff;
}

p.subTitleText {
	background-position: left top;
	line-height: 16px;
	font-size: 16px;
	background-image: url(./image/a1.png);
	background-repeat: no-repeat;
	font-weight: bold;
	margin: 10px;
	margin-top: 20px;
	padding: 0em;
	padding-left: 1.5em;
	background-color: #ffffff;
	clear: both;
	border-bottom : 1px solid #a1a1a1;
}

p.subDescription {
	font-size: 1.00em;
	margin: 0px;
	padding: 0.0em 1.0em 0.5em 1.0em;
	background-color: #ffffff;
}

p.indexText {
	background-position: left top;
	line-height: 16px;
	font-size: 16px;
	background-image: url(./image/a2.png);
	background-repeat: no-repeat;
	margin: 10px;
	margin-left: 0.8em;
	padding: 0em;
	padding-left: 1.4em;
	background-color: #ffffff;
}

p.indexDescription {
	font-size: 1.00em;
	margin: 0px;
	margin-left: 10px;
	padding: 0.0em 1.0em 0.5em 2.0em;
	background-color: #ffffff;
}

img.indexImage {
	font-size: 1.00em;
	margin: 0.2em 1.0em 0.5em 1.0em;
	padding: 0px;
	background-color: #ffffff;
	float: left;
	border : 1px solid #000000;
}


img.screenImage {
	font-size: 1.00em;
	margin: 0px;
	margin-left: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 1.0em;
	padding: 0px;
	background-color: #ffffff;
	float: left;
	border : 1px solid #000000;
}

img.noborder {
	margin: 0px;
	padding: 0px;
	border : 0px;
}
